force-app/main/default/flows/Clone_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_QPD</name>
        <label>Assign QPD</label>
        <locationX>1294</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>varNewQPD.Policy_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Policy_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Coverage_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Coverage_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.PPL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.PPL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Line_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Line_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.ProductOption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.ProductOption__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Retention__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Retention__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Policy_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Policy_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Aggregate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Aggregate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Deductible_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Deductible_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Separate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Separate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Sub_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Sub_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Limit_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Limit_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varNewQPD.Deductible_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Quote_Product_Detail.Deductible_Days__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_QPD_To_Collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_QPD_To_Collection</name>
        <label>Assign QPD To Collection</label>
        <locationX>895</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>varNewCollectionQPD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varNewQPD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Quote_Product_Detail</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Clone Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Quote</label>
    <loops>
        <name>Loop_Quote_Product_Detail</name>
        <label>Loop Quote Product Detail</label>
        <locationX>895</locationX>
        <locationY>325</locationY>
        <collectionReference>Quote_Product_Details</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_QPD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_QDP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_QDP</name>
        <label>Create QDP</label>
        <locationX>707</locationX>
        <locationY>459</locationY>
        <connector>
            <targetReference>Create_Quote_ERP_to_Policy_ERP_Subflow</targetReference>
        </connector>
        <inputReference>varNewCollectionQPD</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Quote</name>
        <label>Create Quote</label>
        <locationX>899</locationX>
        <locationY>198</locationY>
        <connector>
            <targetReference>Quote_Product_Details</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>get_Quote_record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_Date__c</field>
            <value>
                <elementReference>Activation_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Aggregate_Limit_of_Liability__c</field>
            <value>
                <elementReference>get_Quote_record.Aggregate_Limit_of_Liability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_Capacity__c</field>
            <value>
                <elementReference>get_Quote_record.Authorized_Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_Premium__c</field>
            <value>
                <elementReference>get_Quote_record.Authorized_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker__c</field>
            <value>
                <elementReference>get_Quote_record.Broker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage_Account__c</field>
            <value>
                <elementReference>get_Quote_record.Brokerage_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>get_Quote_record.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission__c</field>
            <value>
                <elementReference>get_Quote_record.Commission__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Project__c</field>
            <value>
                <elementReference>get_Quote_record.Description_of_Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Project_value__c</field>
            <value>
                <elementReference>get_Quote_record.Estimated_Project_value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Renewable__c</field>
            <value>
                <elementReference>get_Quote_record.Is_Renewable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Retained_Premium__c</field>
            <value>
                <elementReference>get_Quote_record.Minimum_Retained_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Rate__c</field>
            <value>
                <elementReference>get_Quote_record.Monthly_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>get_Quote_record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Quote__c</field>
            <value>
                <elementReference>get_Quote_record.Parent_Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_and_Prior_Litigation_Date__c</field>
            <value>
                <elementReference>get_Quote_record.Pending_and_Prior_Litigation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Premium__c</field>
            <value>
                <elementReference>Policy_Premium</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Option_Copied__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>get_Quote_record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Effective_Date__c</field>
            <value>
                <elementReference>get_Quote_record.Quote_Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Expiry_Date__c</field>
            <value>
                <elementReference>get_Quote_record.Quote_Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Term__c</field>
            <value>
                <elementReference>get_Quote_record.Quote_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>get_Quote_record.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>get_Quote_record.Renewal_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subjectivities__c</field>
            <value>
                <elementReference>get_Quote_record.Subjectivities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Underlying_Limit_of_Liability__c</field>
            <value>
                <elementReference>get_Quote_record.Underlying_Limit_of_Liability__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Quote_record</name>
        <label>get Quote record</label>
        <locationX>895</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote2__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Broker__c</queriedFields>
        <queriedFields>Brokerage_Account__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Product__c</queriedFields>
        <queriedFields>Policy_Premium__c</queriedFields>
        <queriedFields>Commission__c</queriedFields>
        <queriedFields>Quote_Effective_Date__c</queriedFields>
        <queriedFields>Quote_Term__c</queriedFields>
        <queriedFields>Activation_Date__c</queriedFields>
        <queriedFields>Quote_Expiry_Date__c</queriedFields>
        <queriedFields>RecordTypeId</queriedFields>
        <queriedFields>Master_Policy_Number__c</queriedFields>
        <queriedFields>Renewal_Date__c</queriedFields>
        <queriedFields>Opportunity__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Is_Renewable__c</queriedFields>
        <queriedFields>Parent_Quote__c</queriedFields>
        <queriedFields>Aggregate_Limit_of_Liability__c</queriedFields>
        <queriedFields>Pending_and_Prior_Litigation_Date__c</queriedFields>
        <queriedFields>Underlying_Limit_of_Liability__c</queriedFields>
        <queriedFields>Minimum_Retained_Premium__c</queriedFields>
        <queriedFields>Authorized_Premium__c</queriedFields>
        <queriedFields>Subjectivities__c</queriedFields>
        <queriedFields>Description_of_Project__c</queriedFields>
        <queriedFields>Authorized_Capacity__c</queriedFields>
        <queriedFields>Estimated_Project_value__c</queriedFields>
        <queriedFields>Monthly_Rate__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Quote_Product_Details</name>
        <label>Quote Product Details</label>
        <locationX>680</locationX>
        <locationY>257</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Quote_Product_Detail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote_Product_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Quote_Details</name>
        <label>Quote Details</label>
        <locationX>1298</locationX>
        <locationY>115</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Quote</targetReference>
        </connector>
        <fields>
            <name>Policy_Premium</name>
            <dataType>Currency</dataType>
            <fieldText>Policy Premium</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Activation_Date</name>
            <dataType>Date</dataType>
            <fieldText>Activation Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>229</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>get_Quote_record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Quote_ERP_to_Policy_ERP_Subflow</name>
        <label>Create Quote ERP to Policy ERP Subflow</label>
        <locationX>527</locationX>
        <locationY>524</locationY>
        <connector>
            <targetReference>Create_Quote_PWE_to_Policy_PWE_Subflow</targetReference>
        </connector>
        <flowName>Create_Quote_ERP_to_Policy_ERP</flowName>
        <inputAssignments>
            <name>ClonedQuoteId</name>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>QuoteRecord</name>
            <value>
                <elementReference>get_Quote_record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Quote_Insurer_to_Policy_Insurer_Subflow</name>
        <label>Create Quote Insurer to Policy Insurer Subflow</label>
        <locationX>55</locationX>
        <locationY>203</locationY>
        <connector>
            <targetReference>Create_Quote_Underlying_Insurer_to_Policy_Project_Subflow</targetReference>
        </connector>
        <flowName>Create_Quote_Insurer_to_Policy_Insurer_Subflow</flowName>
        <inputAssignments>
            <name>GetCloneQuoteID</name>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GetQuoteRecord</name>
            <value>
                <elementReference>get_Quote_record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Quote_Project_to_Policy_Project_Subflow</name>
        <label>Create Quote Project to Policy Project Subflow</label>
        <locationX>348</locationX>
        <locationY>277</locationY>
        <flowName>Create_Quote_Project_to_Policy_Project_Subflow</flowName>
        <inputAssignments>
            <name>GetCloneQuoteID</name>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GetQuoteRecord</name>
            <value>
                <elementReference>get_Quote_record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Quote_PWE_to_Policy_PWE_Subflow</name>
        <label>Create Quote PWE to Policy PWE Subflow</label>
        <locationX>527</locationX>
        <locationY>363</locationY>
        <connector>
            <targetReference>Create_Quote_Reinstatement_to_Policy_Reinstatement_Subflow</targetReference>
        </connector>
        <flowName>Create_Quote_PWE_to_Policy_PWE_Subflow</flowName>
        <inputAssignments>
            <name>GetCloneQuoteID</name>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GetQuoteRecord</name>
            <value>
                <elementReference>get_Quote_record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Quote_Reinstatement_to_Policy_Reinstatement_Subflow</name>
        <label>Create Quote Reinstatement to Policy Reinstatement Subflow</label>
        <locationX>527</locationX>
        <locationY>204</locationY>
        <connector>
            <targetReference>Create_Quote_Insurer_to_Policy_Insurer_Subflow</targetReference>
        </connector>
        <flowName>Create_Quote_Reinstatement_to_Policy_Reinstatement_Subflow</flowName>
        <inputAssignments>
            <name>GetCloneQuoteID</name>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GetQuoteRecord</name>
            <value>
                <elementReference>get_Quote_record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Create_Quote_Underlying_Insurer_to_Policy_Project_Subflow</name>
        <label>Create Quote Underlying Insurer to Policy Project Subflow</label>
        <locationX>55</locationX>
        <locationY>443</locationY>
        <connector>
            <targetReference>Create_Quote_Project_to_Policy_Project_Subflow</targetReference>
        </connector>
        <flowName>Create_Quote_Insurer_to_Policy_Project_Subflow</flowName>
        <inputAssignments>
            <name>GetCloneQuoteId</name>
            <value>
                <elementReference>Create_Quote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GetQuoteRecord</name>
            <value>
                <elementReference>get_Quote_record</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>NewQPDID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCollectionQPD</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Product_Details__c</objectType>
    </variables>
    <variables>
        <name>varNewQPD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Product_Details__c</objectType>
    </variables>
</Flow>
