force-app/main/default/flows/Clone_Product_Insurer_on_Opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assign_Insurer_records</name>
        <label>Assign Insurer records</label>
        <locationX>693</locationX>
        <locationY>346</locationY>
        <assignmentItems>
            <assignToReference>New_Insurer.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Insurer.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_for_Every_insurer.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Insurer.Insurer_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_for_Every_insurer.Insurer_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Insurer.MGA_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_for_Every_insurer.MGA_Commission__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Insurer.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_for_Every_insurer.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Insurer.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>New_Insurer.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_for_Every_insurer.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Final Assignment of all the insurers.</description>
        <name>Final_Assignment</name>
        <label>Final Assignment</label>
        <locationX>844</locationX>
        <locationY>271</locationY>
        <assignmentItems>
            <assignToReference>CollectionInsurer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>New_Insurer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_for_Every_insurer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Existing_Insurer</name>
        <label>Check Existing Insurer</label>
        <locationX>64</locationX>
        <locationY>383</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Insurer_Bucket_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Existing_Insurer_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Record</targetReference>
            </connector>
            <label>Insurer Bucket is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOpp</name>
        <label>CheckOpp</label>
        <locationX>210</locationX>
        <locationY>268</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>NewOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Existing_Insurer_Record</targetReference>
            </connector>
            <label>NewOpp</label>
        </rules>
    </decisions>
    <description>Get all the insurers of the product and then create them on opportunity.</description>
    <interviewLabel>Clone Product Insurer on Opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Product Insurer on Opportunity</label>
    <loops>
        <description>Iterate for every insurer</description>
        <name>Iterate_for_Every_insurer</name>
        <label>Iterate for Every insurer</label>
        <locationX>517</locationX>
        <locationY>215</locationY>
        <collectionReference>Get_Insurers_from_the_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Insurer_records</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Insurers_on_Opportunity</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create the Insurers of product on Opportunity related list (Insurer)</description>
        <name>Create_Insurers_on_Opportunity</name>
        <label>Create Insurers on Opportunity</label>
        <locationX>797</locationX>
        <locationY>114</locationY>
        <connector>
            <targetReference>Update_Copied_Insurer</targetReference>
        </connector>
        <inputReference>CollectionInsurer</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_Insurer_Record</name>
        <label>Get Existing Insurer Record</label>
        <locationX>433</locationX>
        <locationY>337</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Existing_Insurer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Insurer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get all the insurers from the Product.</description>
        <name>Get_Insurers_from_the_Product</name>
        <label>Get Insurers from the Product</label>
        <locationX>537</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_for_Every_insurer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Insurer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get products associated with the newly created opportunity record.</description>
        <name>Get_Product_Record</name>
        <label>Get Product Record</label>
        <locationX>219</locationX>
        <locationY>429</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_Id</name>
        <label>Get RecordType Id</label>
        <locationX>366</locationX>
        <locationY>449</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Insurers_from_the_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insurer_Of_Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insurer__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOppRecordType</name>
        <label>GetOppRecordType</label>
        <locationX>50</locationX>
        <locationY>241</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Copied_Insurer</name>
        <label>Update_Copied_Insurer</label>
        <locationX>922</locationX>
        <locationY>114</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Opp_Insurer_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>168</locationX>
        <locationY>77</locationY>
        <connector>
            <targetReference>CheckOpp</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <description>Collection of insurers</description>
        <name>CollectionInsurer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer__c</objectType>
    </variables>
    <variables>
        <name>New_Insurer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer__c</objectType>
    </variables>
</Flow>
