force-app/main/default/flows/Clone_Product_Option_to_QPD.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assignment_QPD</name>
        <label>Assignment QPD</label>
        <locationX>865</locationX>
        <locationY>320</locationY>
        <assignmentItems>
            <assignToReference>NewQPD.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.QPDName__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.ProductOption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.CoverageTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.ProductId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Product_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Line_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Line_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Policy_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Policy_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Coverage_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Coverage_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Option_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Index_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Product_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Deductible_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Deductible_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Sub_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Sub_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Limit_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Sub_Limit_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Deductible_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Deductible_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Layer_Deductible_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Deductible_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Sub_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Sub_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Limit_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Sub_Limit_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Co_Insurance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Co_Insurance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Aggregate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Aggregate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Extension_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Extension_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Option_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopCreateQDP.Index_Number__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinalAssignment</name>
        <label>FinalAssignment</label>
        <locationX>474</locationX>
        <locationY>427</locationY>
        <assignmentItems>
            <assignToReference>CollectionQPD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewQPD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopCreateQDP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_If_Product_is_Filled</name>
        <label>Check If Product is Filled</label>
        <locationX>368</locationX>
        <locationY>34</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProductNotEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Product_Option_Copied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetProductRecord</targetReference>
            </connector>
            <label>ProductNotEmpty</label>
        </rules>
    </decisions>
    <formulas>
        <name>Recordtype</name>
        <dataType>String</dataType>
        <expression>IF( {!$Record.RecordType.DeveloperName} == &apos;Master_Policy&apos; , &apos;Sponsored_Program&apos; , 
IF (ISPICKVAL({!GetProductRecord.Underwriting_Practive__c} , &apos;Commercial Lines&apos;), &quot;Commercial_Lines&quot;, 
IF (ISPICKVAL({!GetProductRecord.Underwriting_Practive__c} , &apos;Professional Lines&apos;), &quot;Professional_Lines&quot;,
IF (ISPICKVAL({!GetProductRecord.Underwriting_Practive__c} , &apos;Financial Lines&apos;), &quot;Financial_Lines&quot;, &quot;Financial_Lines&quot;))))</expression>
    </formulas>
    <interviewLabel>Clone Product Option to QPD {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Product Option to QPD</label>
    <loops>
        <name>LoopCreateQDP</name>
        <label>LoopCreateQDP</label>
        <locationX>474</locationX>
        <locationY>213</locationY>
        <collectionReference>ProductDetailCollection</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_QPD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ProductOptionQPD</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ProductOptionQPD</name>
        <label>Create ProductOptionQPD</label>
        <locationX>237</locationX>
        <locationY>254</locationY>
        <connector>
            <targetReference>ProductOptionCreated</targetReference>
        </connector>
        <inputReference>CollectionQPD</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Product_RecordType</name>
        <label>Get Product RecordType</label>
        <locationX>853</locationX>
        <locationY>132</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopCreateQDP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Recordtype</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote_Product_Details__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetProductDetail</name>
        <label>GetProductDetail</label>
        <locationX>705</locationX>
        <locationY>34</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Product_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetProductRecord.Id</elementReference>
            </value>
        </filters>
        <object>ProductCoverage</object>
        <outputReference>ProductDetailCollection</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>CoverageTypeId</queriedFields>
        <queriedFields>ProductId</queriedFields>
        <queriedFields>Coverage_Name__c</queriedFields>
        <queriedFields>Line_of_Business__c</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>QPDName__c</queriedFields>
        <queriedFields>Policy_Limit__c</queriedFields>
        <queriedFields>Index_Number__c</queriedFields>
        <queriedFields>Deductible_Amount__c</queriedFields>
        <queriedFields>Sub_Limit__c</queriedFields>
        <queriedFields>Sub_Limit_Percentage__c</queriedFields>
        <queriedFields>Deductible_Days__c</queriedFields>
        <queriedFields>Deductible_Percentage__c</queriedFields>
        <queriedFields>Co_Insurance__c</queriedFields>
        <queriedFields>Rate__c</queriedFields>
        <queriedFields>Aggregate__c</queriedFields>
        <queriedFields>Extension_Category__c</queriedFields>
        <sortField>Index_Number__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>GetProductRecord</name>
        <label>GetProductRecord</label>
        <locationX>584</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetProductDetail</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>ProductOptionCreated</name>
        <label>ProductOptionCreated</label>
        <locationX>84</locationX>
        <locationY>254</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Product_Option_Copied__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote2__c</object>
    </recordUpdates>
    <start>
        <locationX>9</locationX>
        <locationY>23</locationY>
        <connector>
            <targetReference>Check_If_Product_is_Filled</targetReference>
        </connector>
        <object>Quote2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionQPD</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Product_Details__c</objectType>
    </variables>
    <variables>
        <name>NewQPD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Product_Details__c</objectType>
    </variables>
    <variables>
        <name>ProductDetailCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductCoverage</objectType>
    </variables>
    <variables>
        <name>ProductOptionCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>CoverageType</objectType>
    </variables>
</Flow>
