force-app/main/default/flows/ClonePWE_FromProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignmentOnPWE</name>
        <label>AssignmentOnPWE</label>
        <locationX>1225</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>NewPWE.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PWE_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Lines_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Lines_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Conga_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Conga_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Opt_in__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Opt_in__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Opt_out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Opt_out__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Defence_Costs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Defence_Costs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Sub_limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Sub_limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Endorsement_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Endorsement_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.UL_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.UL_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.UL_Sub_limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.UL_Sub_limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Endorsement_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Endorsement_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Endorsement_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Endorsement_Body__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Each_Loss_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Each_Loss_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Sorting_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Sorting_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopOnPWE.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_Assignment</name>
        <label>Final Assignment</label>
        <locationX>1133</locationX>
        <locationY>485</locationY>
        <assignmentItems>
            <assignToReference>CollectionPWE</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewPWE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopOnPWE</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Existing_PWE</name>
        <label>Check Existing PWE</label>
        <locationX>729</locationX>
        <locationY>347</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_PWE_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PWE_Copied__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Existing_PWE</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_Record</targetReference>
            </connector>
            <label>If PWE Null</label>
        </rules>
    </decisions>
    <interviewLabel>CloneQuote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ClonePWE_FromProduct</label>
    <loops>
        <name>LoopOnPWE</name>
        <label>LoopOnPWE</label>
        <locationX>1066</locationX>
        <locationY>311</locationY>
        <collectionReference>Get_PWE</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentOnPWE</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_PWE_on_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PWE_on_Quote</name>
        <label>Create PWE on Quote</label>
        <locationX>873</locationX>
        <locationY>469</locationY>
        <connector>
            <targetReference>UpdatePWECopied</targetReference>
        </connector>
        <inputReference>CollectionPWE</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Existing_PWE</name>
        <label>Get Existing PWE</label>
        <locationX>388</locationX>
        <locationY>401</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Existing_PWE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Policy_Wording_and_Endorsements__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_Record</name>
        <label>Get Product Record</label>
        <locationX>850</locationX>
        <locationY>128</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PWE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PWE</name>
        <label>Get PWE</label>
        <locationX>893</locationX>
        <locationY>297</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_PWE_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Policy_Wording_and_Endorsements__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PWE_RecordType</name>
        <label>Get PWE RecordType</label>
        <locationX>1019</locationX>
        <locationY>139</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopOnPWE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Policy_Wording_and_Endrosements_of_Quote</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Policy_Wording_and_Endorsements__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdatePWECopied</name>
        <label>UpdatePWECopied</label>
        <locationX>734</locationX>
        <locationY>516</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>PWE_Copied__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote2__c</object>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Existing_PWE</targetReference>
        </connector>
        <object>Quote2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionPWE</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy_Wording_and_Endorsements__c</objectType>
    </variables>
    <variables>
        <name>NewPWE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy_Wording_and_Endorsements__c</objectType>
    </variables>
</Flow>
