force-app/main/default/flows/Create_Quote_Insurer_from_Opp_Insurer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Opp_Insurer_to_Quote_Insurer</name>
        <label>Assign Opp Insurer to Quote Insurer</label>
        <locationX>850</locationX>
        <locationY>156</locationY>
        <assignmentItems>
            <assignToReference>SingleQuoteInsurer.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Insurer.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuoteInsurer.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuoteInsurer.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Insurer.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuoteInsurer.Insurer_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_on_Insurer.Insurer_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SingleQuoteInsurer.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>012f0000000lAUCAA2</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_List_of_INsurer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_List_of_INsurer</name>
        <label>Assign to List of Insurer</label>
        <locationX>851</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>ListOfQuoteInsurer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SingleQuoteInsurer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_on_Insurer</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Quote Insurer from Opp Insurer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote Insurer from Opp Insurer</label>
    <loops>
        <name>Loop_on_Insurer</name>
        <label>Loop on Insurer</label>
        <locationX>418</locationX>
        <locationY>349</locationY>
        <collectionReference>Get_All_Insurer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Opp_Insurer_to_Quote_Insurer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateListOfInsurer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateListOfInsurer</name>
        <label>CreateListOfInsurer</label>
        <locationX>406</locationX>
        <locationY>521</locationY>
        <inputReference>ListOfQuoteInsurer</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_All_Insurer</name>
        <label>Get All Insurer</label>
        <locationX>253</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_on_Insurer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Insurer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_All_Insurer</targetReference>
        </connector>
        <object>Quote2__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>ListOfQuoteInsurer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer__c</objectType>
    </variables>
    <variables>
        <name>SingleQuoteInsurer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer__c</objectType>
    </variables>
</Flow>
