force-app/main/default/flows/Create_Quote_Project_to_Policy_Project_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>FinalProjectAssignment</name>
        <label>FinalProjectAssignment</label>
        <locationX>741</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>VarProjectCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarProject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Project_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Project_Assignment</name>
        <label>Project Assignment</label>
        <locationX>741</locationX>
        <locationY>233</locationY>
        <assignmentItems>
            <assignToReference>VarProject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProject.Estimated_Project_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Loop.Estimated_Project_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProject.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Loop.Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProject.Project_Risk_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Loop.Project_Risk_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProject.Description_of_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Loop.Description_of_Project__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProject.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Loop.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProject.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCloneQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarProject.Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Project_Loop.Policy__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalProjectAssignment</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Quote Insurer to Policy Insurer Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote Project to Policy Project Subflow</label>
    <loops>
        <name>Project_Loop</name>
        <label>Project Loop</label>
        <locationX>447</locationX>
        <locationY>304</locationY>
        <collectionReference>Get_Project_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Project_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Project_Record_Creation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Project_Record_Creation</name>
        <label>Project Record Creation</label>
        <locationX>174</locationX>
        <locationY>380</locationY>
        <inputReference>VarProjectCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Project_Record</name>
        <label>Get Project Record</label>
        <locationX>176</locationX>
        <locationY>237</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuoteRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Project_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetCloneQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetQuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote2__c</objectType>
    </variables>
    <variables>
        <name>VarProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>VarProjectCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
</Flow>
