force-app/main/default/flows/Create_Quote_Reinstatement_to_Policy_Reinstatement_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Reinstatement_Assignment</name>
        <label>Reinstatement Assignment</label>
        <locationX>653</locationX>
        <locationY>168</locationY>
        <assignmentItems>
            <assignToReference>VarReinstatment.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Reinstatment.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarReinstatment.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Reinstatment.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarReinstatment.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Reinstatment.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarReinstatment.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCloneQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarReinstatment.Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_for_Reinstatment.Policy__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Reinstatement_Final_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reinstatement_Final_Assignment</name>
        <label>Reinstatement Final Assignment</label>
        <locationX>650</locationX>
        <locationY>337</locationY>
        <assignmentItems>
            <assignToReference>ReinstatmentCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarReinstatment</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_for_Reinstatment</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Quote Reinstatement to Policy Reinstatement Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote Reinstatement to Policy Reinstatement Subflow</label>
    <loops>
        <name>Loop_for_Reinstatment</name>
        <label>Loop for Reinstatment</label>
        <locationX>425</locationX>
        <locationY>274</locationY>
        <collectionReference>Get_Reinstatment_of_Quote</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reinstatement_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Reinstatement_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reinstatement_Record</name>
        <label>Create Reinstatement Record</label>
        <locationX>181</locationX>
        <locationY>345</locationY>
        <inputReference>ReinstatmentCollectionVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Reinstatment_of_Quote</name>
        <label>Get Reinstatment of Quote</label>
        <locationX>178</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_for_Reinstatment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuoteRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reinstatement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Reinstatment_of_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetCloneQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetQuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote2__c</objectType>
    </variables>
    <variables>
        <name>ReinstatmentCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reinstatement__c</objectType>
    </variables>
    <variables>
        <name>VarReinstatment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reinstatement__c</objectType>
    </variables>
</Flow>
