force-app/main/default/flows/Create_Quote_Insurer_to_Policy_Insurer_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Final_Insurer_Assignment</name>
        <label>Final Insurer Assignment</label>
        <locationX>611</locationX>
        <locationY>350</locationY>
        <assignmentItems>
            <assignToReference>InsurerCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarInsurer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Insurer_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Insurer_Assignment</name>
        <label>Insurer Assignment</label>
        <locationX>610</locationX>
        <locationY>177</locationY>
        <assignmentItems>
            <assignToReference>VarInsurer.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurer_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarInsurer.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurer_Loop.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarInsurer.Insurer_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurer_Loop.Insurer_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarInsurer.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurer_Loop.Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarInsurer.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Insurer_Loop.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarInsurer.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCloneQuoteID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Insurer_Assignment</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Quote Insurer to Policy Insurer Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote Insurer to Policy Insurer Subflow</label>
    <loops>
        <name>Insurer_Loop</name>
        <label>Insurer Loop</label>
        <locationX>396</locationX>
        <locationY>279</locationY>
        <collectionReference>Get_Insurer_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Insurer_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Insurer_on_Quote</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Insurer_on_Quote</name>
        <label>Create Insurer on Quote</label>
        <locationX>178</locationX>
        <locationY>353</locationY>
        <inputReference>InsurerCollectionVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Insurer_Record</name>
        <label>Get Insurer Record</label>
        <locationX>176</locationX>
        <locationY>199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Insurer_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuoteRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Insurer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Insurer_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetCloneQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetQuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote2__c</objectType>
    </variables>
    <variables>
        <name>InsurerCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer__c</objectType>
    </variables>
    <variables>
        <name>VarInsurer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer__c</objectType>
    </variables>
</Flow>
