force-app/main/default/flows/Create_Quote_Insurer_to_Policy_Project_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Underlying_Insurer</name>
        <label>Underlying Insurer</label>
        <locationX>683</locationX>
        <locationY>488</locationY>
        <assignmentItems>
            <assignToReference>UnderlyingInsurerCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarUnderlyingInsurer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Underlying_Insurer_Loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>UnderLying_Insurer_Assignment</name>
        <label>UnderLying Insurer Assignment</label>
        <locationX>683</locationX>
        <locationY>203</locationY>
        <assignmentItems>
            <assignToReference>VarUnderlyingInsurer.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Underlying_Insurer_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUnderlyingInsurer.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Underlying_Insurer_Loop.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUnderlyingInsurer.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCloneQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUnderlyingInsurer.Insurer_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Underlying_Insurer_Loop.Insurer_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUnderlyingInsurer.Insurer_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Underlying_Insurer_Loop.Insurer_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUnderlyingInsurer.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Underlying_Insurer_Loop.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUnderlyingInsurer.Limit_of_Liability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Underlying_Insurer_Loop.Limit_of_Liability__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUnderlyingInsurer.Authorized_Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Underlying_Insurer_Loop.Authorized_Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUnderlyingInsurer.Authorized_Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Underlying_Insurer_Loop.Authorized_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUnderlyingInsurer.Policy_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Underlying_Insurer_Loop.Policy_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUnderlyingInsurer.Minimum_Retained_Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Underlying_Insurer_Loop.Minimum_Retained_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUnderlyingInsurer.Policy_Term_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Underlying_Insurer_Loop.Policy_Term_Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUnderlyingInsurer.Policy_Term_Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Underlying_Insurer_Loop.Policy_Term_Expiry_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUnderlyingInsurer.Monthly_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Underlying_Insurer_Loop.Monthly_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarUnderlyingInsurer.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Underlying_Insurer_Loop.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Underlying_Insurer</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Quote Project to Policy Project Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote Underlying Insurer to Policy Project Subflow</label>
    <loops>
        <name>Underlying_Insurer_Loop</name>
        <label>Underlying Insurer Loop</label>
        <locationX>420</locationX>
        <locationY>284</locationY>
        <collectionReference>Get_Underlying_Insurer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>UnderLying_Insurer_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_New_Underlying_Insurer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_New_Underlying_Insurer</name>
        <label>Create New Underlying Insurer</label>
        <locationX>159</locationX>
        <locationY>505</locationY>
        <inputReference>UnderlyingInsurerCollectionVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Underlying_Insurer</name>
        <label>Get Underlying Insurer</label>
        <locationX>167</locationX>
        <locationY>201</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Underlying_Insurer_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuoteRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Insurer_Underlying_Insurer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>41</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_Underlying_Insurer</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetCloneQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetQuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote2__c</objectType>
    </variables>
    <variables>
        <name>UnderlyingInsurerCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer_Underlying_Insurer__c</objectType>
    </variables>
    <variables>
        <name>VarUnderlyingInsurer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer_Underlying_Insurer__c</objectType>
    </variables>
</Flow>
