force-app/main/default/flows/Create_Quote_PWE_to_Policy_PWE_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>PWE_Assignment</name>
        <label>PWE Assignment</label>
        <locationX>654</locationX>
        <locationY>191</locationY>
        <assignmentItems>
            <assignToReference>VarPWE.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Lines_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Lines_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Conga_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Conga_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Opt_in__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Opt_in__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Opt_out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Opt_out__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Defence_Costs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Defence_Costs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Sub_limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Sub_limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Endorsement_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Endorsement_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.UL_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.UL_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.UL_Sub_limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.UL_Sub_limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Aggregate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Aggregate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Coverage_A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Coverage_A__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Coverage_B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Coverage_B__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Coverage_C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Coverage_C__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Endorsement_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Endorsement_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Endorsement_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Endorsement_Body__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Each_Loss_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Each_Loss_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetCloneQuoteID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Sorting_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Sorting_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarPWE.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PWE_Final_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PWE_Final_Assignment</name>
        <label>PWE Final Assignment</label>
        <locationX>413</locationX>
        <locationY>335</locationY>
        <assignmentItems>
            <assignToReference>PWECollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarPWE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Quote PWE to Policy PWE Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote PWE to Policy PWE Subflow</label>
    <loops>
        <name>Loop_Through</name>
        <label>Policy Wording &amp; Endorsement Loop</label>
        <locationX>413</locationX>
        <locationY>195</locationY>
        <collectionReference>Get_PWE_of_Quote</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PWE_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Clone_PWE</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Clone_PWE</name>
        <label>Create Clone PWE</label>
        <locationX>172</locationX>
        <locationY>324</locationY>
        <inputReference>PWECollectionVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_PWE_of_Quote</name>
        <label>Get PWE of Quote</label>
        <locationX>176</locationX>
        <locationY>186</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQuoteRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Policy_Wording_and_Endorsements__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_PWE_of_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>GetCloneQuoteID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GetQuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote2__c</objectType>
    </variables>
    <variables>
        <name>PWECollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy_Wording_and_Endorsements__c</objectType>
    </variables>
    <variables>
        <name>VarPWE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy_Wording_and_Endorsements__c</objectType>
    </variables>
</Flow>
