force-app/main/default/flows/Create_Quote_ERP_to_Policy_ERP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>EXRP_Assignment</name>
        <label>EXRP Assignment</label>
        <locationX>755</locationX>
        <locationY>270</locationY>
        <assignmentItems>
            <assignToReference>VarEXRP.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extended_Reporting_Period_Loop.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarEXRP.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ClonedQuoteId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarEXRP.Extended_Report_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extended_Reporting_Period_Loop.Extended_Report_Period__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarEXRP.Extended_Reporting_Period_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extended_Reporting_Period_Loop.Extended_Reporting_Period_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarEXRP.Additional_Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extended_Reporting_Period_Loop.Additional_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarEXRP.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Clone_Extended_Reporting_Period_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarEXRP.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extended_Reporting_Period_Loop.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarEXRP.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Extended_Reporting_Period_Loop.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EXRP_Final_Assignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>EXRP_Final_Assignment</name>
        <label>EXRP Final Assignment</label>
        <locationX>568</locationX>
        <locationY>392</locationY>
        <assignmentItems>
            <assignToReference>EXRPFinalAssignmentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarEXRP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Extended_Reporting_Period_Loop</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Create Quote ERP to Policy ERP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Quote ERP to Policy ERP Subflow</label>
    <loops>
        <name>Extended_Reporting_Period_Loop</name>
        <label>Extended Reporting Period Loop</label>
        <locationX>396</locationX>
        <locationY>268</locationY>
        <collectionReference>GetEXRP_of_Quote</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>EXRP_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Clone_Extended_Reporting_Period_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Clone_Extended_Reporting_Period_Record</name>
        <label>Create Clone Extended Reporting Period Record</label>
        <locationX>205</locationX>
        <locationY>351</locationY>
        <inputReference>EXRPFinalAssignmentCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetEXRP_of_Quote</name>
        <label>GetEXRP of Quote</label>
        <locationX>201</locationX>
        <locationY>200</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Extended_Reporting_Period_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Extended_Report_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>74</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>GetEXRP_of_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ClonedQuoteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>EXRPCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Extended_Report_Period__c</objectType>
    </variables>
    <variables>
        <name>EXRPFinalAssignmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Extended_Report_Period__c</objectType>
    </variables>
    <variables>
        <name>QuoteRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote2__c</objectType>
    </variables>
    <variables>
        <name>VarEXRP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Extended_Report_Period__c</objectType>
    </variables>
</Flow>
