force-app/main/default/flows/Delete_Related_Lists_of_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>Get_UnderlieInsurer</name>
        <label>Get UnderlieInsurer</label>
        <locationX>203</locationX>
        <locationY>1684</locationY>
        <defaultConnector>
            <targetReference>Delete_UnderlineInsurer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>UnderlineInsurer_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_UnderlineInsurers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_QuoteProductDetail</targetReference>
            </connector>
            <label>UnderlineInsurer null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_ERP_Null</name>
        <label>Is ERP Null</label>
        <locationX>193</locationX>
        <locationY>618</locationY>
        <defaultConnector>
            <targetReference>Delete_ERPs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>ERP_is_NULL</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Erps</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Projects</targetReference>
            </connector>
            <label>ERP is NULL</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Policy_Null</name>
        <label>Is Policy Null</label>
        <locationX>206</locationX>
        <locationY>310</locationY>
        <defaultConnector>
            <targetReference>DeletePolicies</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Policy Not Null</defaultConnectorLabel>
        <rules>
            <name>Policy_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Policies</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Erps</targetReference>
            </connector>
            <label>Policy Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_PolicyWordingEndorsement_Null</name>
        <label>Is PolicyWordingEndorsement Null</label>
        <locationX>686</locationX>
        <locationY>1305</locationY>
        <defaultConnector>
            <targetReference>Delete_PolicyWordingEndorsement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>PolicyWordingEndorsement_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_PolicyWordingEndorsement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>PolicyWordingEndorsement Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Projects_Null</name>
        <label>Is Projects Null</label>
        <locationX>189</locationX>
        <locationY>981</locationY>
        <defaultConnector>
            <targetReference>Delete_Project</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Projects_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Projects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reinstatements</targetReference>
            </connector>
            <label>Projects Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_QPD_NULL</name>
        <label>Is QPD NULL</label>
        <locationX>746</locationX>
        <locationY>1899</locationY>
        <defaultConnector>
            <targetReference>Delete_QPD</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>QPD_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_QuoteProductDetail</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PolicyWordingEndorsement</targetReference>
            </connector>
            <label>QPD Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Reinstatement_Null</name>
        <label>Is Reinstatement Null</label>
        <locationX>197</locationX>
        <locationY>1302</locationY>
        <defaultConnector>
            <targetReference>Delete_Reinstatement</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Null</defaultConnectorLabel>
        <rules>
            <name>Reinstatement_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reinstatements</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_UnderlineInsurers</targetReference>
            </connector>
            <label>Reinstatement Null</label>
        </rules>
    </decisions>
    <description>Before Deletion of quote. All the related Items of the quote should be deleted.</description>
    <interviewLabel>Delete Related Lists of Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete Related Lists of Quote</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_ERPs</name>
        <label>Delete ERPs</label>
        <locationX>321</locationX>
        <locationY>603</locationY>
        <connector>
            <targetReference>Get_Projects</targetReference>
        </connector>
        <inputReference>Get_Related_Erps</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_PolicyWordingEndorsement</name>
        <label>Delete PolicyWordingEndorsement</label>
        <locationX>694</locationX>
        <locationY>1122</locationY>
        <inputReference>Get_PolicyWordingEndorsement</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Project</name>
        <label>Delete Project</label>
        <locationX>343</locationX>
        <locationY>978</locationY>
        <connector>
            <targetReference>Get_Reinstatements</targetReference>
        </connector>
        <inputReference>Get_Projects</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_QPD</name>
        <label>Delete QPD</label>
        <locationX>853</locationX>
        <locationY>1455</locationY>
        <connector>
            <targetReference>Get_PolicyWordingEndorsement</targetReference>
        </connector>
        <inputReference>Get_QuoteProductDetail</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_Reinstatement</name>
        <label>Delete Reinstatement</label>
        <locationX>339</locationX>
        <locationY>1301</locationY>
        <connector>
            <targetReference>Get_UnderlineInsurers</targetReference>
        </connector>
        <inputReference>Get_Reinstatements</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_UnderlineInsurer</name>
        <label>Delete UnderlineInsurer</label>
        <locationX>436</locationX>
        <locationY>1691</locationY>
        <connector>
            <targetReference>Get_QuoteProductDetail</targetReference>
        </connector>
        <inputReference>Get_UnderlineInsurers</inputReference>
    </recordDeletes>
    <recordDeletes>
        <name>DeletePolicies</name>
        <label>DeletePolicies</label>
        <locationX>364</locationX>
        <locationY>354</locationY>
        <connector>
            <targetReference>Get_Related_Erps</targetReference>
        </connector>
        <inputReference>Get_Related_Policies</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_PolicyWordingEndorsement</name>
        <label>Get PolicyWordingEndorsement</label>
        <locationX>698</locationX>
        <locationY>1456</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_PolicyWordingEndorsement_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Policy_Wording_and_Endorsements__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Projects</name>
        <label>Get Projects</label>
        <locationX>197</locationX>
        <locationY>857</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Projects_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_QuoteProductDetail</name>
        <label>Get QuoteProductDetail</label>
        <locationX>215</locationX>
        <locationY>1897</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_QPD_NULL</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote_Product_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reinstatements</name>
        <label>Get Reinstatements</label>
        <locationX>207</locationX>
        <locationY>1158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Reinstatement_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reinstatement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Erps</name>
        <label>Get Related Erps</label>
        <locationX>200</locationX>
        <locationY>459</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_ERP_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Extended_Report_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Policies</name>
        <label>Get Related Policies</label>
        <locationX>215</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Policy_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InsurancePolicy</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_UnderlineInsurers</name>
        <label>Get UnderlineInsurers</label>
        <locationX>209</locationX>
        <locationY>1532</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_UnderlieInsurer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Insurer_Underlying_Insurer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>372</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>Get_Related_Policies</targetReference>
        </connector>
        <object>Quote2__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
</Flow>
