force-app/main/default/flows/Insurer_Of_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_Error</name>
        <label>Email Error</label>
        <locationX>940</locationX>
        <locationY>338</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>InsurerFieldAssignment</targetReference>
        </connector>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <elementReference>LoopPolicyInsurer.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailAddresses</name>
            <value>
                <stringValue>manisha@cloudjunction.cloud</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Error Email</stringValue>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>FinalInsurerFieldAssignment</name>
        <label>FinalInsurerFieldAssignment</label>
        <locationX>1124</locationX>
        <locationY>524</locationY>
        <assignmentItems>
            <assignToReference>FinalCollectionInsurerAssignment</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewInsurer</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurer</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>LoopPolicyInsurer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>InsurerFieldAssignment</name>
        <label>InsurerFieldAssignment</label>
        <locationX>1122</locationX>
        <locationY>336</locationY>
        <assignmentItems>
            <assignToReference>NewInsurer.Insurer_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPolicyInsurer.Insurer_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurer.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPolicyInsurer.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurer.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Insurer_Record_Type.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurer.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPolicyInsurer.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurer.Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalInsurerFieldAssignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Insurer_Are_Null</name>
        <label>If Insurer Are Null</label>
        <locationX>872</locationX>
        <locationY>192</locationY>
        <defaultConnector>
            <targetReference>Next_Project_LI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update QLI</defaultConnectorLabel>
        <rules>
            <name>Empty_Insurer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Insurer_Quote_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Insurer_Record_Type</targetReference>
            </connector>
            <label>Not Empty Insurer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_LI</name>
        <label>Next LI</label>
        <locationX>442</locationX>
        <locationY>112</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_LI_Item</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Related_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insurers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Insurer_Quote_Record</targetReference>
            </connector>
            <label>Next LI Item</label>
        </rules>
    </decisions>
    <formulas>
        <name>CheckRecordTypeDevName</name>
        <dataType>String</dataType>
        <expression>IF ({!LoopPolicyInsurer.Developer_Name__c}=&quot;Insurer_of_Quote&quot;, {!PolicyInsurerRcdID}, IF({!LoopPolicyInsurer.Developer_Name__c}=&quot;Insurer_of_Policy&quot;, {!PolicyInsurerRcdID},&quot;Insurer_of_Policy&quot;) )</expression>
    </formulas>
    <interviewLabel>Insurer Of Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Insurer Of Policy - Testing</label>
    <loops>
        <name>LoopPolicyInsurer</name>
        <label>LoopPolicyInsurer</label>
        <locationX>775</locationX>
        <locationY>434</locationY>
        <collectionReference>Get_Insurer_Quote_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Email_Error</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateInsurerOnPolicy</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateInsurerOnPolicy</name>
        <label>CreateInsurerOnPolicy</label>
        <locationX>902</locationX>
        <locationY>623</locationY>
        <connector>
            <targetReference>Next_Project_LI</targetReference>
        </connector>
        <inputReference>FinalCollectionInsurerAssignment</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Insurer_Quote_Record</name>
        <label>Get Insurer Quote Record</label>
        <locationX>640</locationX>
        <locationY>112</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Insurer_Are_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Insurer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Insurer_Record_Type</name>
        <label>Get Insurer Record Type</label>
        <locationX>637</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopPolicyInsurer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insurer_Of_Policy</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insurer__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Next_Project_LI</name>
        <label>Next Project LI</label>
        <locationX>1337</locationX>
        <locationY>623</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Related_Item__c</field>
            <value>
                <stringValue>Projects</stringValue>
            </value>
        </inputAssignments>
        <object>InsurancePolicy</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>44</locationY>
        <connector>
            <targetReference>Next_LI</targetReference>
        </connector>
        <object>InsurancePolicy</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FinalAssignmentRecordType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>FinalCollectionInsurerAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer__c</objectType>
    </variables>
    <variables>
        <name>ListOfInsurerRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>NewInsurer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer__c</objectType>
    </variables>
    <variables>
        <name>PolicyInsurerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PolicyInsurerRcdID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
