force-app/main/default/flows/InsurerCopiedOnRenewal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>AssignInsurer</name>
        <label>AssignInsurer</label>
        <locationX>840</locationX>
        <locationY>329</locationY>
        <assignmentItems>
            <assignToReference>NewOppInsurer.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppInsurer.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInsurer.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppInsurer.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInsurer.Account__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppInsurer.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInsurer.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppInsurer.Description__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInsurer.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppInsurer.Opportunity_Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInsurer.Opportunity_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppInsurer.MGA_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInsurer.MGA_Commission__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppInsurer.Insurer_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInsurer.Insurer_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppInsurer.MGA_Commission_Amount2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInsurer.MGA_Commission_Amount2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppInsurer.Insurer_Commission__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInsurer.Insurer_Commission__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOppInsurer.Net_Revenue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopInsurer.Net_Revenue__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalAssignmentInsurer</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinalAssignmentInsurer</name>
        <label>FinalAssignmentInsurer</label>
        <locationX>711</locationX>
        <locationY>330</locationY>
        <assignmentItems>
            <assignToReference>CollectionInsurer</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewOppInsurer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopInsurer</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckOpp</name>
        <label>CheckOpp</label>
        <locationX>441</locationX>
        <locationY>41</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckOppConditions</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetOppRecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Renewal_Opportunity</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GetInsurerOnOpp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPolicyRecord</targetReference>
            </connector>
            <label>CheckOppConditions</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckOppFieldOnPolicy</name>
        <label>CheckOppFieldOnPolicy</label>
        <locationX>697</locationX>
        <locationY>25</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>CheckOppField</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPolicyRecord.Renewal_Opportunity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetInsurer</targetReference>
            </connector>
            <label>CheckOppField</label>
        </rules>
    </decisions>
    <interviewLabel>InsurerCopiedOnRenewal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>InsurerCopiedOnRenewal</label>
    <loops>
        <name>LoopInsurer</name>
        <label>LoopInsurer</label>
        <locationX>807</locationX>
        <locationY>223</locationY>
        <collectionReference>GetInsurer</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignInsurer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateInsurer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>CreateInsurer</name>
        <label>CreateInsurer</label>
        <locationX>420</locationX>
        <locationY>261</locationY>
        <inputReference>CollectionInsurer</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetInsurer</name>
        <label>GetInsurer</label>
        <locationX>927</locationX>
        <locationY>58</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopInsurer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPolicyRecord.Renewal_Opportunity__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Insurer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetInsurerOnOpp</name>
        <label>GetInsurerOnOpp</label>
        <locationX>120</locationX>
        <locationY>282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOppRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Opportunity__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Insurer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOppRecordType</name>
        <label>GetOppRecordType</label>
        <locationX>306</locationX>
        <locationY>341</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckOpp</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal_Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPolicyRecord</name>
        <label>GetPolicyRecord</label>
        <locationX>598</locationX>
        <locationY>114</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckOppFieldOnPolicy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Policy__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InsurancePolicy</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>21</locationX>
        <locationY>37</locationY>
        <connector>
            <targetReference>GetInsurerOnOpp</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionInsurer</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer__c</objectType>
    </variables>
    <variables>
        <name>NewOppInsurer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer__c</objectType>
    </variables>
</Flow>
