force-app/main/default/flows/MasterPolicyERPCopy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Assignment_ERP</name>
        <label>Assignment ERP</label>
        <locationX>918</locationX>
        <locationY>379</locationY>
        <assignmentItems>
            <assignToReference>NewERP.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ERP.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewERP.Additional_Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ERP.Additional_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewERP.Extended_Report_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ERP.Extended_Report_Period__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewERP.Index_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ERP.Index_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewERP.Extended_Reporting_Period_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ERP.Extended_Reporting_Period_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewERP.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ERP_of_Quote_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewERP.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ERP.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewERP.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ERP.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewERP.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalAssignment</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinalAssignment</name>
        <label>FinalAssignment</label>
        <locationX>667</locationX>
        <locationY>387</locationY>
        <assignmentItems>
            <assignToReference>CollectionERP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewERP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ERP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_Quote_RecordType</name>
        <label>Check Quote RecordType</label>
        <locationX>418</locationX>
        <locationY>110</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>RecordType_Is_Sponsored</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Master_Policy</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Product_From_Quote</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>RecordType Is Sponsored</label>
        </rules>
    </decisions>
    <interviewLabel>MasterPolicyERPCopy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>MasterPolicyERPCopy</label>
    <loops>
        <name>Loop_ERP</name>
        <label>Loop ERP</label>
        <locationX>765</locationX>
        <locationY>278</locationY>
        <collectionReference>Get_ERP_Of_Product</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assignment_ERP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ERP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ERP</name>
        <label>Create ERP</label>
        <locationX>432</locationX>
        <locationY>285</locationY>
        <inputReference>CollectionERP</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_ERP_Of_Product</name>
        <label>Get ERP Of Product</label>
        <locationX>937</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ERP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Product_From_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Extended_Report_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ERP_of_Quote_RecordType</name>
        <label>Get ERP of Quote RecordType</label>
        <locationX>728</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ERP_Of_Product</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extended_Report_Period__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extended_Reporting_Period_of_Quote</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Product_From_Quote</name>
        <label>Get Product From Quote</label>
        <locationX>584</locationX>
        <locationY>42</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_ERP_of_Quote_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Check_Quote_RecordType</targetReference>
        </connector>
        <object>Quote2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionERP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Extended_Report_Period__c</objectType>
    </variables>
    <variables>
        <name>NewERP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Extended_Report_Period__c</objectType>
    </variables>
</Flow>
