force-app/main/default/flows/Mid_term_changes.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Creat_Policy_wording_and_endorsement</name>
        <label>Creat Policy wording and endorsement</label>
        <locationX>679</locationX>
        <locationY>351</locationY>
        <assignmentItems>
            <assignToReference>NewPWE.Endorsement_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conga_trigger.recordName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_template_name.APXTConga4__Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Policy_wording_and_endorsment.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Conga_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Conga_trigger.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Opportuniy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>541</locationX>
        <locationY>219</locationY>
        <assignmentItems>
            <assignToReference>NewOpp.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_policy.Name_Insured_Account_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_RecordType_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunity_name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Policy_Effective_Date</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quoted</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_policy.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewOpp.Premium_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Policy_Premium</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_template_name</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>Opportunityrecordtype</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Renewal Opportunity</stringValue>
        </value>
    </constants>
    <formulas>
        <name>Datetoday</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Mid term changes {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Mid term changes</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportuniy</name>
        <label>Create Opportuniy</label>
        <locationX>940</locationX>
        <locationY>189</locationY>
        <connector>
            <targetReference>Create_Policy_wording_and_endorsement</targetReference>
        </connector>
        <inputReference>NewOpp</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_Policy_wording_and_endorsement</name>
        <label>Create Policy wording and endorsement</label>
        <locationX>1194</locationX>
        <locationY>366</locationY>
        <connector>
            <targetReference>Update_policy_status</targetReference>
        </connector>
        <inputReference>NewPWE</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_policy</name>
        <label>Get policy</label>
        <locationX>177</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_RecordType_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InsurancePolicy</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_wording_and_endorsment</name>
        <label>Get Policy wording and endorsment</label>
        <locationX>319</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Mid_Term_Changes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Policy_Wording_and_Endorsements__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Policy_Wording_and_Endrosements_of_Policy</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_Id</name>
        <label>Get RecordType Id</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Policy_wording_and_endorsment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal_Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_template_name</name>
        <label>Get template name</label>
        <locationX>516</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Creat_Policy_wording_and_endorsement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Conga_trigger.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>APXTConga4__Conga_Template__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_policy_status</name>
        <label>Update policy status</label>
        <locationX>909</locationX>
        <locationY>514</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_policy.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Mid_Term_Changes_Last_Reviewed_Date__c</field>
            <value>
                <elementReference>Datetoday</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mid_term_conga_template__c</field>
            <value>
                <elementReference>NewPWE.Conga_Template__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mid_term_status__c</field>
            <value>
                <stringValue>Sent</stringValue>
            </value>
        </inputAssignments>
        <object>InsurancePolicy</object>
    </recordUpdates>
    <screens>
        <name>Mid_Term_Changes</name>
        <label>Mid Term Changes</label>
        <locationX>324</locationX>
        <locationY>218</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>opportunity_name</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Endorsement_Description</name>
            <fieldText>Endorsement Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Conga_trigger</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Conga_Template__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Conga template</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>InsurancePolicy</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Policy_Premium</name>
            <dataType>Currency</dataType>
            <fieldText>Policy Premium</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Policy_Effective_Date</name>
            <dataType>Date</dataType>
            <fieldText>Policy Effective Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>51</locationX>
        <locationY>4</locationY>
        <connector>
            <targetReference>Get_policy</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>NewOpp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>NewPWE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Policy_Wording_and_Endorsements__c</objectType>
    </variables>
    <variables>
        <name>OpportunityAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
