force-app/main/default/flows/NewOppQuoteOnRenewal.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Renewal_Email</name>
        <label>Send Renewal Email</label>
        <locationX>1560</locationX>
        <locationY>85</locationY>
        <actionName>Opportunity.Email_Alert_for_Renewal_Opportunity</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Get_PPDRecord</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>CreateOppRecord</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignQPDtoNewQuote</name>
        <label>AssignQPDtoNewQuote</label>
        <locationX>1400</locationX>
        <locationY>348</locationY>
        <assignmentItems>
            <assignToReference>NewQPD.Policy_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Policy_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Quote_Product_Detail__r.RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Coverage_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.CoverageName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Quote_Product_Detail__r.ProductOption__r.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateNewQuote</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.PPL_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.PPL_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Line_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Line_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.ProductOption__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Product_Option_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Product__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Category</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Policy_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Policy_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Aggregate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Aggregate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Separate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Separate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Sub_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Sub_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Limit_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Sub_Limit_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Deductible_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Deductible_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Deductible_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.DeductibleAmount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Retroactive_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Retroactive_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Extension_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Extension_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewQPD.Option_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopQPDAssign.Sorting_Order__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalAssignmentPPD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinalAssignmentPPD</name>
        <label>FinalAssignmentPPD</label>
        <locationX>1196</locationX>
        <locationY>504</locationY>
        <assignmentItems>
            <assignToReference>CollectionQPD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewQPD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopQPDAssign</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>RenewalQuoteExpirydate</name>
        <dataType>DateTime</dataType>
        <expression>ADDMONTHS ({!GetPolicyRecord.RenewalDate}, {!GetPolicyRecord.Policy_Terms__c})</expression>
    </formulas>
    <interviewLabel>NewOppQuoteOnRenewal {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewOppQuoteOnRenewal</label>
    <loops>
        <name>LoopQPDAssign</name>
        <label>LoopQPDAssign</label>
        <locationX>1173</locationX>
        <locationY>284</locationY>
        <collectionReference>Get_PPDRecord</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignQPDtoNewQuote</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_QPD</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_QPD</name>
        <label>Create QPD</label>
        <locationX>966</locationX>
        <locationY>195</locationY>
        <connector>
            <targetReference>Project</targetReference>
        </connector>
        <inputReference>CollectionQPD</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateNewQuote</name>
        <label>CreateNewQuote</label>
        <locationX>1344</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>Send_Renewal_Email</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>GetQuoteRecord.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Aggregate_Limit_of_Liability__c</field>
            <value>
                <elementReference>GetQuoteRecord.Aggregate_Limit_of_Liability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_Capacity__c</field>
            <value>
                <elementReference>GetQuoteRecord.Authorized_Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_Premium__c</field>
            <value>
                <elementReference>GetQuoteRecord.Authorized_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker__c</field>
            <value>
                <elementReference>GetPolicyRecord.Broker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage_Account__c</field>
            <value>
                <elementReference>GetQuoteRecord.Brokerage_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <stringValue>Renewal Quote</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission__c</field>
            <value>
                <elementReference>GetQuoteRecord.Commission__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Conga_Template__c</field>
            <value>
                <elementReference>GetQuoteRecord.Conga_Template__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Project_value__c</field>
            <value>
                <elementReference>GetQuoteRecord.Estimated_Project_value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Renewable__c</field>
            <value>
                <elementReference>GetQuoteRecord.Is_Renewable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Retained_Premium__c</field>
            <value>
                <elementReference>GetQuoteRecord.Minimum_Retained_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Rate__c</field>
            <value>
                <elementReference>GetQuoteRecord.Monthly_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>CreateOppRecord</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PWE_Copied__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Quote__c</field>
            <value>
                <elementReference>GetPolicyRecord.Renewal_Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_and_Prior_Litigation_Date__c</field>
            <value>
                <elementReference>GetQuoteRecord.Pending_and_Prior_Litigation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Limit__c</field>
            <value>
                <elementReference>GetQuoteRecord.Policy_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Premium__c</field>
            <value>
                <elementReference>GetQuoteRecord.Policy_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Option_Copied__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>GetPolicyRecord.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Area__c</field>
            <value>
                <elementReference>GetQuoteRecord.Project_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Descrtiption__c</field>
            <value>
                <elementReference>GetQuoteRecord.Project_Descrtiption__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>GetQuoteRecord.Project_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Effective_Date__c</field>
            <value>
                <elementReference>GetQuoteRecord.Quote_Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Term__c</field>
            <value>
                <elementReference>GetQuoteRecord.Quote_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetQuoteRecord.RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>RenewalQuoteExpirydate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Risk_Description__c</field>
            <value>
                <elementReference>GetQuoteRecord.Risk_Description__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subjectivities__c</field>
            <value>
                <elementReference>GetQuoteRecord.Subjectivities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Underlying_Limit_of_Liability__c</field>
            <value>
                <elementReference>GetQuoteRecord.Underlying_Limit_of_Liability__c</elementReference>
            </value>
        </inputAssignments>
        <object>Quote2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>CreateOppRecord</name>
        <label>CreateOppRecord</label>
        <locationX>1004</locationX>
        <locationY>25</locationY>
        <connector>
            <targetReference>GetQuoteRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>GetOpportunity.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker__c</field>
            <value>
                <elementReference>GetPolicyRecord.Broker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage__c</field>
            <value>
                <elementReference>GetPolicyRecord.Brokerage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>GetOpportunity.CloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <elementReference>GetOpportunity.CurrencyIsoCode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Policy_Agreement__c</field>
            <value>
                <elementReference>GetPolicyRecord.Renewal_Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>GetOpportunity.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premium_Amount__c</field>
            <value>
                <elementReference>GetOpportunity.Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Probability</field>
            <value>
                <elementReference>GetOpportunity.Probability</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>GetPolicyRecord.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GetOppRecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <elementReference>GetOpportunity.StageName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Fees__c</field>
            <value>
                <elementReference>GetOpportunity.Transaction_Fees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>GetOpportunity.Type</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_PPDRecord</name>
        <label>Get PPDRecord</label>
        <locationX>1341</locationX>
        <locationY>183</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopQPDAssign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InsurancePolicyId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPolicyRecord.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InsurancePolicyCoverage</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>860</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateOppRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPolicyRecord.SourceOpportunityId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetOppRecordType</name>
        <label>GetOppRecordType</label>
        <locationX>529</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPolicyRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal_Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPolicyRecord</name>
        <label>GetPolicyRecord</label>
        <locationX>713</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InsurancePolicy</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQuoteRecord</name>
        <label>GetQuoteRecord</label>
        <locationX>1184</locationX>
        <locationY>26</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CreateNewQuote</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetPolicyRecord.Renewal_Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>234</locationX>
        <locationY>174</locationY>
        <connector>
            <targetReference>GetOppRecordType</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <subflows>
        <name>ERP</name>
        <label>ERP</label>
        <locationX>373</locationX>
        <locationY>358</locationY>
        <flowName>Create_Quote_ERP_to_Policy_ERP</flowName>
        <inputAssignments>
            <name>ClonedQuoteId</name>
            <value>
                <elementReference>CreateNewQuote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>QuoteRecord</name>
            <value>
                <elementReference>GetQuoteRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Project</name>
        <label>Project</label>
        <locationX>1008</locationX>
        <locationY>546</locationY>
        <connector>
            <targetReference>UnderLyingInsurer</targetReference>
        </connector>
        <flowName>Create_Quote_Project_to_Policy_Project_Subflow</flowName>
        <inputAssignments>
            <name>GetCloneQuoteID</name>
            <value>
                <elementReference>CreateNewQuote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GetQuoteRecord</name>
            <value>
                <elementReference>GetQuoteRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>PWE</name>
        <label>PWE</label>
        <locationX>604</locationX>
        <locationY>271</locationY>
        <connector>
            <targetReference>ERP</targetReference>
        </connector>
        <flowName>Create_Quote_PWE_to_Policy_PWE_Subflow</flowName>
        <inputAssignments>
            <name>GetCloneQuoteID</name>
            <value>
                <elementReference>CreateNewQuote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GetQuoteRecord</name>
            <value>
                <elementReference>GetQuoteRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Reinstatement</name>
        <label>Reinstatement</label>
        <locationX>765</locationX>
        <locationY>239</locationY>
        <connector>
            <targetReference>PWE</targetReference>
        </connector>
        <flowName>Create_Quote_Reinstatement_to_Policy_Reinstatement_Subflow</flowName>
        <inputAssignments>
            <name>GetCloneQuoteID</name>
            <value>
                <elementReference>CreateNewQuote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GetQuoteRecord</name>
            <value>
                <elementReference>GetQuoteRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>UnderLyingInsurer</name>
        <label>UnderLyingInsurer</label>
        <locationX>823</locationX>
        <locationY>548</locationY>
        <connector>
            <targetReference>Reinstatement</targetReference>
        </connector>
        <flowName>Create_Quote_Insurer_to_Policy_Project_Subflow</flowName>
        <inputAssignments>
            <name>GetCloneQuoteId</name>
            <value>
                <elementReference>CreateNewQuote</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>GetQuoteRecord</name>
            <value>
                <elementReference>GetQuoteRecord</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>CollectionProject</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>CollectionQPD</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Product_Details__c</objectType>
    </variables>
    <variables>
        <name>CollectionReinstatement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reinstatement__c</objectType>
    </variables>
    <variables>
        <name>NewProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>NewQPD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Product_Details__c</objectType>
    </variables>
    <variables>
        <name>NewReinstatement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reinstatement__c</objectType>
    </variables>
    <variables>
        <name>NewUI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer_Underlying_Insurer__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UICollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer_Underlying_Insurer__c</objectType>
    </variables>
</Flow>
