force-app/main/default/flows/Policy_to_ERP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>ERP_Assignment</name>
        <label>ERP Assignment</label>
        <locationX>1049</locationX>
        <locationY>279</locationY>
        <assignmentItems>
            <assignToReference>NewERP.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ERP.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewERP.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_ERP_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewERP.Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewERP.Extended_Report_Period__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ERP.Extended_Report_Period__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewERP.Extended_Reporting_Period_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ERP.Extended_Reporting_Period_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewERP.Additional_Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ERP.Additional_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewERP.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ERP.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Assignment_ERP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_Assignment_ERP</name>
        <label>Final Assignment ERP</label>
        <locationX>921</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>FinalCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewERP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ERP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_ERP</name>
        <label>Check ERP</label>
        <locationX>876</locationX>
        <locationY>54</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ERP_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Extended_Reporting_Period</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ERP_from_Quote</targetReference>
            </connector>
            <label>ERP is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>ERP_Is_Not_Null</name>
        <label>ERP Is Not Null</label>
        <locationX>929</locationX>
        <locationY>140</locationY>
        <defaultConnector>
            <targetReference>Update_Next_LI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>ERP is Null</defaultConnectorLabel>
        <rules>
            <name>ERP_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ERP_from_Quote</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ERP_RecordType</targetReference>
            </connector>
            <label>ERP Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_LI</name>
        <label>Next LI</label>
        <locationX>513</locationX>
        <locationY>53</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Next_ERP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Related_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Extended Report Periods</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Extended_Reporting_Period</targetReference>
            </connector>
            <label>IF Next ERP</label>
        </rules>
        <rules>
            <name>Policy_is_Insurance_Certificate</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Insurance_Certificate</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Extended_Reporting_Period</targetReference>
            </connector>
            <label>Policy is Insurance Certificate</label>
        </rules>
    </decisions>
    <interviewLabel>Policy to ERP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Policy to ERP</label>
    <loops>
        <name>Loop_ERP</name>
        <label>Loop ERP</label>
        <locationX>804</locationX>
        <locationY>269</locationY>
        <collectionReference>Get_ERP_from_Quote</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ERP_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_ERP_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_ERP_Record</name>
        <label>Create ERP Record</label>
        <locationX>654</locationX>
        <locationY>486</locationY>
        <connector>
            <targetReference>Update_Next_LI</targetReference>
        </connector>
        <inputReference>FinalCollectionVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_ERP_from_Quote</name>
        <label>Get ERP from Quote</label>
        <locationX>1087</locationX>
        <locationY>36</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ERP_Is_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Extended_Report_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_ERP_RecordType</name>
        <label>Get ERP RecordType</label>
        <locationX>455</locationX>
        <locationY>261</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_ERP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extended_Reporting_Period_of_Policy</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Extended_Report_Period__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Extended_Reporting_Period</name>
        <label>Get Extended Reporting Period</label>
        <locationX>715</locationX>
        <locationY>8</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_ERP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Extended_Report_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Next_LI</name>
        <label>Update Next LI</label>
        <locationX>1182</locationX>
        <locationY>486</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Related_Item__c</field>
            <value>
                <stringValue>Reinstatement</stringValue>
            </value>
        </inputAssignments>
        <object>InsurancePolicy</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>34</locationY>
        <connector>
            <targetReference>Next_LI</targetReference>
        </connector>
        <object>InsurancePolicy</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionERPRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Extended_Report_Period__c</objectType>
    </variables>
    <variables>
        <name>FinalCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Extended_Report_Period__c</objectType>
    </variables>
    <variables>
        <name>NewERP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Extended_Report_Period__c</objectType>
    </variables>
</Flow>
