force-app/main/default/flows/Project_of_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Final_Assignment_Project</name>
        <label>Final Assignment Project</label>
        <locationX>1065</locationX>
        <locationY>453</locationY>
        <assignmentItems>
            <assignToReference>FinalAssignmentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewProject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPolicyProject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProjectNewAssignment</name>
        <label>ProjectNewAssignment</label>
        <locationX>1065</locationX>
        <locationY>246</locationY>
        <assignmentItems>
            <assignToReference>NewProject.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPolicyProject.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProject.Estimated_Project_Value__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPolicyProject.Estimated_Project_Value__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProject.Project_Risk_Address__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPolicyProject.Project_Risk_Address__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProject.Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProject.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Project_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewProject.Description_of_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPolicyProject.Description_of_Project__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Assignment_Project</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Next_LI</name>
        <label>Next LI</label>
        <locationX>453</locationX>
        <locationY>119</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Next_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Related_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Projects</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_From_Quote_Record</targetReference>
            </connector>
            <label>IF Next Project</label>
        </rules>
    </decisions>
    <decisions>
        <name>Project_are_Null</name>
        <label>Project are Null</label>
        <locationX>236</locationX>
        <locationY>270</locationY>
        <defaultConnector>
            <targetReference>Update_Next_LI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update QLI</defaultConnectorLabel>
        <rules>
            <name>If_Project_LI_is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Project_From_Quote_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Project_RecordType</targetReference>
            </connector>
            <label>If Project LI is Null</label>
        </rules>
    </decisions>
    <interviewLabel>Project of Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Project of Policy</label>
    <loops>
        <name>LoopPolicyProject</name>
        <label>LoopPolicyProject</label>
        <locationX>822</locationX>
        <locationY>348</locationY>
        <collectionReference>Get_Project_From_Quote_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ProjectNewAssignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Project_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Project_Record</name>
        <label>Create Project Record</label>
        <locationX>682</locationX>
        <locationY>516</locationY>
        <connector>
            <targetReference>Update_Next_LI</targetReference>
        </connector>
        <inputReference>FinalAssignmentCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Project_From_Quote_Record</name>
        <label>Get Project From Quote Record</label>
        <locationX>752</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Project_are_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Project_RecordType</name>
        <label>Get Project RecordType</label>
        <locationX>669</locationX>
        <locationY>279</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopPolicyProject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project_Policy</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Project__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Next_LI</name>
        <label>Update Next LI</label>
        <locationX>529</locationX>
        <locationY>516</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Related_Item__c</field>
            <value>
                <stringValue>Policy Wording and Endorsements</stringValue>
            </value>
        </inputAssignments>
        <object>InsurancePolicy</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Next_LI</targetReference>
        </connector>
        <object>InsurancePolicy</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionProjectVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>FinalAssignmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
    <variables>
        <name>NewProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Project__c</objectType>
    </variables>
</Flow>
