force-app/main/default/flows/Purchase_ERP.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <assignments>
        <name>Converted_ERPs</name>
        <label>Converted_ERPs</label>
        <locationX>417</locationX>
        <locationY>521</locationY>
        <assignmentItems>
            <assignToReference>LIST_ERP_CONVERTED</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Convert_ERPs.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_ERPs</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Get_Selected_Erp_from_Selected_ERP_Table</name>
        <label>Get Selected Erp from Selected ERP Table</label>
        <locationX>788</locationX>
        <locationY>440</locationY>
        <assignmentItems>
            <assignToReference>SelectedERP</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_Over_Selected_ERP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Selected_ERP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Is_Empty</name>
        <label>Is Empty</label>
        <locationX>406</locationX>
        <locationY>215</locationY>
        <defaultConnector>
            <targetReference>Convert_ERPs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Associated ERP</defaultConnectorLabel>
        <rules>
            <name>No_Associated_ERP</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Associated_ERP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Alert</targetReference>
            </connector>
            <label>No Associated ERP</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Status_Cancelled</name>
        <label>Is Status Cancelled</label>
        <locationX>124</locationX>
        <locationY>373</locationY>
        <defaultConnector>
            <targetReference>Status_Not_Cancelled</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Status Not Cancelled</defaultConnectorLabel>
        <rules>
            <name>Status_is_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Policy.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancelled</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Associated_ERP</targetReference>
            </connector>
            <label>Status is Cancelled</label>
        </rules>
    </decisions>
    <formulas>
        <name>Amount</name>
        <dataType>Currency</dataType>
        <expression>{!GetSelectedERP.Additional_Premium__c}*{!Get_Policy.PremiumAmount}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Purchase ERP {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Purchase ERP</label>
    <loops>
        <name>Convert_ERPs</name>
        <label>Convert_ERPs</label>
        <locationX>418</locationX>
        <locationY>373</locationY>
        <collectionReference>Get_Associated_ERP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Converted_ERPs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Show_List_Of_ERPs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_Over_Selected_ERP</name>
        <label>Iterate Over Selected ERP</label>
        <locationX>747</locationX>
        <locationY>58</locationY>
        <collectionReference>Selected_ERP_From_Table</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Selected_Erp_from_Selected_ERP_Table</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GetSelectedERP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>986</locationX>
        <locationY>531</locationY>
        <connector>
            <targetReference>Update_Policy</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Policy.NameInsuredId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker__c</field>
            <value>
                <elementReference>Get_Policy.Broker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage__c</field>
            <value>
                <elementReference>Get_Policy.Brokerage__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission__c</field>
            <value>
                <elementReference>Get_Policy.Commission__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>CAD</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Master_Policy_Agreement__c</field>
            <value>
                <elementReference>Get_Policy.Quote__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <stringValue>{!GetSelectedERP.Name} - {!Get_Policy.PolicyName} </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy__c</field>
            <value>
                <elementReference>Get_Policy.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Premium_Amount__c</field>
            <value>
                <elementReference>Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Get_Policy.ProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_RecordType_For_Renewl_Opportunity.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Qualification</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Fees__c</field>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Transaction_Type__c</field>
            <value>
                <stringValue>Purchase ERP</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>Get_Policy.RecordTypeId</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Associated_ERP</name>
        <label>Get Associated ERP</label>
        <locationX>286</locationX>
        <locationY>213</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Policy.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Extended_Report_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy</name>
        <label>Get Policy</label>
        <locationX>131</locationX>
        <locationY>205</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Status_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>InsurancePolicy</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RecordType_For_Renewl_Opportunity</name>
        <label>Get RecordType For Renewl Opportunity</label>
        <locationX>573</locationX>
        <locationY>64</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_Over_Selected_ERP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Opportunity</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Renewal_Opportunity</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetSelectedERP</name>
        <label>GetSelectedERP</label>
        <locationX>643</locationX>
        <locationY>598</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedERP</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Extended_Report_Period__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Policy</name>
        <label>Update Policy</label>
        <locationX>878</locationX>
        <locationY>196</locationY>
        <connector>
            <targetReference>Finished</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Policy.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Purchased</stringValue>
            </value>
        </inputAssignments>
        <object>InsurancePolicy</object>
    </recordUpdates>
    <screens>
        <name>Alert</name>
        <label>Alert</label>
        <locationX>424</locationX>
        <locationY>63</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p&gt;There are no associated ERPs.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>954</locationX>
        <locationY>200</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Successfully_Terminated</name>
            <fieldText>&lt;p&gt;Finished !&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Show_List_Of_ERPs</name>
        <label>Show List Of ERPs</label>
        <locationX>565</locationX>
        <locationY>371</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Get_RecordType_For_Renewl_Opportunity</targetReference>
        </connector>
        <fields>
            <name>Display_Select_Conditions</name>
            <fieldText>&lt;p&gt;Select &lt;b&gt;one &lt;/b&gt;ERP&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Show_List</name>
            <extensionName>welkins_table:FlowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsCSV</name>
                <value>
                    <stringValue>Id, Name,Additional_Premium__c,Extended_Report_Period__c,Extended_Reporting_Period_Category__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsIds</name>
                <value>
                    <elementReference>LIST_ERP_CONVERTED</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedRowsIds</name>
                <value>
                    <elementReference>Selected_ERP_From_Table</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_ERP_From_Table</assignToReference>
                <name>selectedRowsIds</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Status_Not_Cancelled</name>
        <label>Status Not Cancelled</label>
        <locationX>176</locationX>
        <locationY>551</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error_Status_Not_Cancelled</name>
            <fieldText>&lt;p&gt;Status of {!Get_Policy.PolicyName} is not &quot;&lt;b&gt;Cancelled&quot;&lt;/b&gt;.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>5</locationX>
        <locationY>72</locationY>
        <connector>
            <targetReference>Get_Policy</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ERP_RECORD_ID_FROM_TABLE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Extended_Report_Period__c</objectType>
    </variables>
    <variables>
        <name>LIST_ERP_CONVERTED</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OpportunityName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Policy_Button_Selected</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SELECTED_ERP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Extended_Report_Period__c</objectType>
    </variables>
    <variables>
        <name>Selected_ERP_From_Table</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedERP</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
