force-app/main/default/flows/PWE_to_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Final_PWE_Assignment</name>
        <label>Final PWE Assignment</label>
        <locationX>862</locationX>
        <locationY>394</locationY>
        <assignmentItems>
            <assignToReference>FinalCollectionPWERecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewPWE</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopPWE</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PWE_Assignment</name>
        <label>PWE_Assignment</label>
        <locationX>863</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>NewPWE.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Lines_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Lines_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Conga_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Conga_Template__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Opt_in__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Opt_in__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Opt_out__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Opt_out__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Province__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Province__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Defence_Costs__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Defence_Costs__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Sub_limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Sub_limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Endorsement_Number__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Endorsement_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.UL_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.UL_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.UL_Sub_limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.UL_Sub_limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Aggregate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Aggregate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Discount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Discount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Deductible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Deductible__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Coverage_A__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Coverage_A__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Coverage_B__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Coverage_B__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Coverage_C__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Coverage_C__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Endorsement_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Endorsement_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Endorsement_Body__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Endorsement_Body__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Each_Loss_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Each_Loss_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_PWE_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Sorting_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Sorting_Order__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPWE.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopPWE.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_PWE_Assignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_LI</name>
        <label>Check LI</label>
        <locationX>370</locationX>
        <locationY>46</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IF_Next_PWE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Related_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Policy Wording and Endorsements</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Policy_Wording_and_Endorsement_Record</targetReference>
            </connector>
            <label>IF Next PWE</label>
        </rules>
    </decisions>
    <decisions>
        <name>PWE_Not_Empty</name>
        <label>PWE Not Empty</label>
        <locationX>924</locationX>
        <locationY>26</locationY>
        <defaultConnector>
            <targetReference>Next_Update_LI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update QLI</defaultConnectorLabel>
        <rules>
            <name>Check_Null_PWE</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Policy_Wording_and_Endorsement_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_PWE_RecordType</targetReference>
            </connector>
            <label>Check Null PWE</label>
        </rules>
    </decisions>
    <interviewLabel>PWE to Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>PWE to Policy</label>
    <loops>
        <name>LoopPWE</name>
        <label>LoopPWE</label>
        <locationX>371</locationX>
        <locationY>257</locationY>
        <collectionReference>Get_Policy_Wording_and_Endorsement_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PWE_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_PWE_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_PWE_Record</name>
        <label>Create PWE Record</label>
        <locationX>451</locationX>
        <locationY>477</locationY>
        <connector>
            <targetReference>Next_Update_LI</targetReference>
        </connector>
        <inputReference>FinalCollectionPWERecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Policy_Wording_and_Endorsement_Record</name>
        <label>Get Policy Wording and Endorsement Record</label>
        <locationX>543</locationX>
        <locationY>38</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PWE_Not_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Policy_Wording_and_Endorsements__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_PWE_RecordType</name>
        <label>Get PWE RecordType</label>
        <locationX>678</locationX>
        <locationY>129</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopPWE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Policy_Wording_and_Endrosements_of_Policy</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Policy_Wording_and_Endorsements__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Next_Update_LI</name>
        <label>Next Update LI</label>
        <locationX>1036</locationX>
        <locationY>477</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Related_Item__c</field>
            <value>
                <stringValue>Extended Report Periods</stringValue>
            </value>
        </inputAssignments>
        <object>InsurancePolicy</object>
    </recordUpdates>
    <start>
        <locationX>30</locationX>
        <locationY>24</locationY>
        <connector>
            <targetReference>Check_LI</targetReference>
        </connector>
        <object>InsurancePolicy</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionPWE_Var</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy_Wording_and_Endorsements__c</objectType>
    </variables>
    <variables>
        <name>FinalCollectionPWERecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy_Wording_and_Endorsements__c</objectType>
    </variables>
    <variables>
        <name>NewPWE</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Policy_Wording_and_Endorsements__c</objectType>
    </variables>
</Flow>
