force-app/main/default/flows/Quote_To_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_ID_to_Commercial_Lines_RecordType</name>
        <label>Assign ID to Commercial Lines RecordType</label>
        <locationX>686</locationX>
        <locationY>479</locationY>
        <assignmentItems>
            <assignToReference>PPD_Commercial_Lines_RecordType_ID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_PPD_RecordType_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_PPD_RecordType_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_to_Financial_Lines_RecordType</name>
        <label>Assign ID to Financial Lines RecordType</label>
        <locationX>322</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>PPD_Financial_Lines_RecordID</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_PPD_RecordType_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_PPD_RecordType_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ID_to_Professional_Lines_RecordType</name>
        <label>Assign ID to Professional Lines RecordType</label>
        <locationX>570</locationX>
        <locationY>595</locationY>
        <assignmentItems>
            <assignToReference>PPD_Professional_Lines_RecordType_Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_On_PPD_RecordType_Records.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_On_PPD_RecordType_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>New_Assign_Policy</name>
        <label>New Assign Policy</label>
        <locationX>1047</locationX>
        <locationY>596</locationY>
        <assignmentItems>
            <assignToReference>NewPPDValueCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewPPD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_QPD</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Var_New_PPD</name>
        <label>Var New PPD</label>
        <locationX>1273</locationX>
        <locationY>541</locationY>
        <assignmentItems>
            <assignToReference>NewPPD.EffectiveDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.ExpirationDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Expiration_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.InsurancePolicyId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_Policy_Record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetPLRecordTypeID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Parent_Product__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.ProductOption__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Line_of_Business__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Line_of_Business__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Policy_Product_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Co_Insurance__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Co_Insurance__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Policy_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Policy_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.DeductibleAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Deductible_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Deductible_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Deductible_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Deductible_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Deductible_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Sub_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Sub_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Authorized_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Authorized_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Authorized_Sub_Limits__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Authorized_Sub_Limits__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.LimitPercentage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Limit_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Category</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.PremiumAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Premium_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Aggregate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Aggregate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.CoverageTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.ProductOption__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Status__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.CoverageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Coverage_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Quote_Product_Detail__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.DeductibleAmount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Deductible_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Sub_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Sub_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Sub_Limit_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Limit_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Extension_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Extension_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Sorting_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Option_Number__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Retroactive_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Retroactive_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewPPD.Monthly_rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_QPD.Monthly_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>New_Assign_Policy</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CheckDeveloperNameOfPPDRecordType</name>
        <label>CheckDeveloperNameOfPPDRecordType</label>
        <locationX>108</locationX>
        <locationY>388</locationY>
        <defaultConnectorLabel>No RecordType</defaultConnectorLabel>
        <rules>
            <name>Financial_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_PPD_RecordType_Records.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Financial_Lines</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ID_to_Financial_Lines_RecordType</targetReference>
            </connector>
            <label>Financial Lines</label>
        </rules>
        <rules>
            <name>Commercial_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_PPD_RecordType_Records.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Commercial_Lines</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ID_to_Commercial_Lines_RecordType</targetReference>
            </connector>
            <label>Commercial Lines</label>
        </rules>
        <rules>
            <name>Professional_Lines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_On_PPD_RecordType_Records.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Professional_Lines</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_ID_to_Professional_Lines_RecordType</targetReference>
            </connector>
            <label>Professional Lines</label>
        </rules>
    </decisions>
    <decisions>
        <name>NullQuoteLI</name>
        <label>NullQuoteLI</label>
        <locationX>1630</locationX>
        <locationY>389</locationY>
        <defaultConnector>
            <targetReference>NextLIUpdate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update QLI</defaultConnectorLabel>
        <rules>
            <name>QLINotNull</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QuoteLI</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPLRecordTypeID</targetReference>
            </connector>
            <label>QLINotNull</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status_Check</name>
        <label>Status Check</label>
        <locationX>439</locationX>
        <locationY>141</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Status_Activated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Policy_Created__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Non_Program_Quote</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_Record_Type</targetReference>
            </connector>
            <label>Status Activated</label>
        </rules>
    </decisions>
    <formulas>
        <name>GetPolicyLIRecordTypeName</name>
        <dataType>String</dataType>
        <expression>IF({!Loop_QPD.GetQuoteLIID__c}=&quot;Professional_Lines&quot;, {!PPD_Professional_Lines_RecordType_Id}, IF({!Loop_QPD.GetQuoteLIID__c}=&quot;Commercial_Lines&quot;, {!PPD_Commercial_Lines_RecordType_ID}, IF({!Loop_QPD.GetQuoteLIID__c}=&quot;Financial_Lines&quot;, {!PPD_Financial_Lines_RecordID}, &quot;Financial_Lines&quot;)))</expression>
    </formulas>
    <formulas>
        <name>GetQPDRecordType</name>
        <dataType>String</dataType>
        <expression>IF({!$Record.Underwriting_Practice__c}=&apos;Professional Lines&apos; , &apos;Professional_Lines&apos;, IF({!$Record.Underwriting_Practice__c}=&apos;Commercial Lines&apos; , &apos;Commercial_Lines&apos;,
 IF({!$Record.Underwriting_Practice__c}=&apos;Financial Lines&apos; , &apos;Financial Lines&apos; , &apos;Financial Lines&apos;)))</expression>
    </formulas>
    <formulas>
        <name>PolicyName</name>
        <dataType>String</dataType>
        <expression>{!$Record.Account_Name__c}+ &quot; - &quot; +{!$Record.Product_Name__c}</expression>
    </formulas>
    <formulas>
        <name>PolicyRecordTypeAssign</name>
        <dataType>String</dataType>
        <expression>IF ({!varRecordTypeDevName}=&quot;Non_Program_Quote&quot;, &quot;Non_Program_Policy&quot;,&quot;Non_Program_Policy&quot;)</expression>
    </formulas>
    <formulas>
        <name>Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <interviewLabel>Quote To Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote To Policy</label>
    <loops>
        <name>Loop_On_PPD_RecordType_Records</name>
        <label>Loop_On_PPD_RecordType_Records</label>
        <locationX>570</locationX>
        <locationY>223</locationY>
        <collectionReference>List_Of_PPD_Record_Type_Records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CheckDeveloperNameOfPPDRecordType</targetReference>
        </nextValueConnector>
    </loops>
    <loops>
        <name>Loop_QPD</name>
        <label>Loop QPD</label>
        <locationX>1046</locationX>
        <locationY>398</locationY>
        <collectionReference>QuoteLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Var_New_PPD</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Policy_Product_Detail_Creation</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Policy_Record</name>
        <label>Create Policy Record</label>
        <locationX>1031</locationX>
        <locationY>55</locationY>
        <connector>
            <targetReference>Get_Quote_Product_Detail</targetReference>
        </connector>
        <inputAssignments>
            <field>Aggregate_Limit_of_Liability__c</field>
            <value>
                <elementReference>$Record.Aggregate_Limit_of_Liability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_Capacity__c</field>
            <value>
                <elementReference>$Record.Authorized_Capacity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Authorized_Premium__c</field>
            <value>
                <elementReference>$Record.Authorized_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker__c</field>
            <value>
                <elementReference>$Record.Broker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage__c</field>
            <value>
                <elementReference>$Record.Brokerage_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission__c</field>
            <value>
                <elementReference>$Record.Commission__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description_of_Project__c</field>
            <value>
                <elementReference>$Record.Description_of_Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EffectiveDate</field>
            <value>
                <elementReference>$Record.Quote_Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_Project_Value__c</field>
            <value>
                <elementReference>$Record.Estimated_Project_value__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpirationDate</field>
            <value>
                <elementReference>$Record.Quote_Expiry_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Intital_Policy_Terms__c</field>
            <value>
                <elementReference>$Record.Quote_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Renewable__c</field>
            <value>
                <elementReference>$Record.Is_Renewable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Line_of_Business__c</field>
            <value>
                <elementReference>$Record.Line_of_Business__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Minimum_Retained_Premium__c</field>
            <value>
                <elementReference>$Record.Minimum_Retained_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Monthly_Rate__c</field>
            <value>
                <elementReference>$Record.Monthly_Rate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>PolicyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NameInsuredId</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentPolicyId</field>
            <value>
                <elementReference>$Record.Renewal_Policy_Id__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Pending_and_Prior_Litigation_Date__c</field>
            <value>
                <elementReference>$Record.Pending_and_Prior_Litigation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PolicyDescription</field>
            <value>
                <elementReference>$Record.Description_of_Project__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PolicyName</field>
            <value>
                <elementReference>PolicyName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PolicyType</field>
            <value>
                <elementReference>$Record.Line_of_Business__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Holder__c</field>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_LImit__c</field>
            <value>
                <elementReference>$Record.Policy_Limit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Terms__c</field>
            <value>
                <elementReference>$Record.Quote_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_fee_total__c</field>
            <value>
                <elementReference>$Record.Transaction_Fees__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PremiumAmount</field>
            <value>
                <elementReference>$Record.Policy_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductId</field>
            <value>
                <elementReference>$Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Name__c</field>
            <value>
                <elementReference>$Record.Project_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Project_Risk_Address__c</field>
            <value>
                <elementReference>$Record.Project_Area__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>PolicyRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RenewalDate</field>
            <value>
                <elementReference>$Record.Renewal_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Opportunity__c</field>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Quote__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SaleDate</field>
            <value>
                <elementReference>Today</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SourceOpportunityId</field>
            <value>
                <elementReference>$Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subjectivities__c</field>
            <value>
                <elementReference>$Record.Subjectivities__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Underlying_Limit_of_Liability__c</field>
            <value>
                <elementReference>$Record.Underlying_Limit_of_Liability__c</elementReference>
            </value>
        </inputAssignments>
        <object>InsurancePolicy</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Policy_Product_Detail_Creation</name>
        <label>Policy Product Detail Creation</label>
        <locationX>800</locationX>
        <locationY>418</locationY>
        <connector>
            <targetReference>Policy_Policy_LI_Created</targetReference>
        </connector>
        <inputReference>NewPPDValueCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_Product_Detail</name>
        <label>Get Quote Product Detail</label>
        <locationX>1253</locationX>
        <locationY>105</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>NullQuoteLI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Activated</stringValue>
            </value>
        </filters>
        <object>Quote_Product_Details__c</object>
        <outputReference>QuoteLI</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Effective_Date__c</queriedFields>
        <queriedFields>Expiration_Date__c</queriedFields>
        <queriedFields>GetQuoteLIID__c</queriedFields>
        <queriedFields>CurrencyIsoCode</queriedFields>
        <queriedFields>Category__c</queriedFields>
        <queriedFields>Aggregate__c</queriedFields>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>ProductOption__c</queriedFields>
        <queriedFields>Line_of_Business__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>Co_Insurance__c</queriedFields>
        <queriedFields>Policy_Limit__c</queriedFields>
        <queriedFields>Rate__c</queriedFields>
        <queriedFields>Deductible_Amount__c</queriedFields>
        <queriedFields>Deductible_Days__c</queriedFields>
        <queriedFields>Deductible_Percentage__c</queriedFields>
        <queriedFields>Sub_Limit__c</queriedFields>
        <queriedFields>Authorized_Limit__c</queriedFields>
        <queriedFields>Authorized_Sub_Limits__c</queriedFields>
        <queriedFields>Limit_Percentage__c</queriedFields>
        <queriedFields>Premium_Amount__c</queriedFields>
        <queriedFields>Coverage_Name__c</queriedFields>
        <queriedFields>Quote_Product_Detail__c</queriedFields>
        <queriedFields>Extension_Category__c</queriedFields>
        <queriedFields>Option_Number__c</queriedFields>
        <queriedFields>Retroactive_Date__c</queriedFields>
        <queriedFields>Monthly_Rate__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Record_Type</name>
        <label>Get Quote Record Type</label>
        <locationX>663</locationX>
        <locationY>56</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPolicyRecrdTypeID</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote2__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>varRecordTypeDevName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPLRecordTypeID</name>
        <label>GetPLRecordTypeID</label>
        <locationX>1046</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_QPD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InsurancePolicyCoverage</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetQPDRecordType</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetPolicyRecrdTypeID</name>
        <label>GetPolicyRecrdTypeID</label>
        <locationX>868</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Policy_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PolicyRecordTypeAssign</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InsurancePolicy</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PolicyRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>NextLIUpdate</name>
        <label>NextLIUpdate</label>
        <locationX>1236</locationX>
        <locationY>1021</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Create_Policy_Record</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Related_Item__c</field>
            <value>
                <stringValue>Insurers</stringValue>
            </value>
        </inputAssignments>
        <object>InsurancePolicy</object>
    </recordUpdates>
    <recordUpdates>
        <name>Policy_Policy_LI_Created</name>
        <label>Policy &amp; Policy LI Created</label>
        <locationX>799</locationX>
        <locationY>791</locationY>
        <connector>
            <targetReference>NextLIUpdate</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Policy_Created__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Quote2__c</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>106</locationY>
        <connector>
            <targetReference>Status_Check</targetReference>
        </connector>
        <object>Quote2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>List_Of_PPD_Record_Type_Records</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>NewPPD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InsurancePolicyCoverage</objectType>
    </variables>
    <variables>
        <name>NewPPDValueCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>InsurancePolicyCoverage</objectType>
    </variables>
    <variables>
        <name>PolicyLIRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PolicyRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PPD_Commercial_Lines_RecordType_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PPD_Financial_Lines_RecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PPD_Professional_Lines_RecordType_Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QPD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Product_Details__c</objectType>
    </variables>
    <variables>
        <name>QuoteLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Product_Details__c</objectType>
    </variables>
    <variables>
        <name>QuoteRecordTypeVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Pass it from PB</description>
        <name>varRecordTypeDevName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
