force-app/main/default/flows/Quote_To_Policy_Insurer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_RecordType_to_Policy_Insurer</name>
        <label>Assign RecordType to Policy Insurer</label>
        <locationX>392</locationX>
        <locationY>370</locationY>
        <assignmentItems>
            <assignToReference>PolicyInsurerRecordTypeAssign</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Insurer_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Assign_Record_Type_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Final_Assign_Record_Type_ID</name>
        <label>Final Assign Record Type ID</label>
        <locationX>161</locationX>
        <locationY>302</locationY>
        <assignmentItems>
            <assignToReference>VarPolicyRecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PolicyInsurerRecordTypeAssign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Insurer_RecordType</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinalInsurerAssignment</name>
        <label>FinalInsurerAssignment</label>
        <locationX>518</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>FinalCreateNewInsurerRecord</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewInsurer</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_To_Create_Insurer_LI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Insurer_Assignment</name>
        <label>Insurer Assignment</label>
        <locationX>684</locationX>
        <locationY>509</locationY>
        <assignmentItems>
            <assignToReference>NewInsurer.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_To_Create_Insurer_LI.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurer.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_To_Create_Insurer_LI.Quote__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurer.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PolicyInsurerRecordTypeAssign</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurer.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>InsurerNewRecordID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurer.Insurer_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_To_Create_Insurer_LI.Insurer_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewInsurer.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_To_Create_Insurer_LI.Account__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalInsurerAssignment</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>If_Insurer_LI_is_Empty</name>
        <label>If Insurer LI is Empty</label>
        <locationX>1184</locationX>
        <locationY>285</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Empty_Insurer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>InsurerLineItem</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Insurer_record_type</targetReference>
            </connector>
            <label>Empty Insurer</label>
        </rules>
    </decisions>
    <decisions>
        <name>Status</name>
        <label>Status</label>
        <locationX>500</locationX>
        <locationY>118</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Quote_Status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Quote_RecordType</targetReference>
            </connector>
            <label>Quote Status</label>
        </rules>
    </decisions>
    <formulas>
        <name>CheckDeveloperNameofInsurerRecordtype</name>
        <dataType>String</dataType>
        <expression>IF ({!Loop_To_Create_Insurer_LI.Quote_Insurer_Name__c}= &quot;Insurer_of_Policy&quot;,{!PolicyInsurerRecordTypeAssign},
IF ({!Loop_To_Create_Insurer_LI.Quote_Insurer_Name__c}= &quot;Insurer_of_Quote&quot;,{!PolicyInsurerRecordTypeAssign}))</expression>
    </formulas>
    <formulas>
        <name>PolicyRecordTypeAssign</name>
        <dataType>String</dataType>
        <expression>IF ({!VarRecordTypeName}) = &quot;Non_Program_Quote&quot;, &quot;Non_Program_Policy&quot;,&quot;Non_Program_Policy&quot;)</expression>
    </formulas>
    <interviewLabel>Quote To Policy Insurer {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Quote To Policy Insurer</label>
    <loops>
        <name>Loop_Insurer_RecordType</name>
        <label>Loop Insurer RecordType</label>
        <locationX>518</locationX>
        <locationY>235</locationY>
        <collectionReference>ListofInsurerRecordType</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_RecordType_to_Policy_Insurer</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_To_Create_Insurer_LI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_To_Create_Insurer_LI</name>
        <label>Loop To Create Insurer LI</label>
        <locationX>670</locationX>
        <locationY>355</locationY>
        <collectionReference>InsurerFromQuote</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Insurer_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>InsurerOnPolicy</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>InsurerOnPolicy</name>
        <label>InsurerOnPolicy</label>
        <locationX>863</locationX>
        <locationY>529</locationY>
        <inputReference>FinalCreateNewInsurerRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Insurer</name>
        <label>Get Insurer</label>
        <locationX>1187</locationX>
        <locationY>121</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Insurer_LI_is_Empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Insurer__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Quote_Insurer_Name__c</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Quote__c</queriedFields>
        <queriedFields>Insurer_Percentage__c</queriedFields>
        <queriedFields>Name</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Insurer_record_type</name>
        <label>Get Insurer record type</label>
        <locationX>912</locationX>
        <locationY>247</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Insurer_RecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insurer__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputReference>ListofInsurerRecordType</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>DeveloperName</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Policy_Record_Type</name>
        <label>Get Policy Record Type</label>
        <locationX>862</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetPolicyRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>PolicyRecordTypeAssign</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>InsurancePolicy</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>PolicyRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_RecordType</name>
        <label>Get Quote RecordType</label>
        <locationX>714</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Policy_Record_Type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.RecordTypeId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote2__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>VarRecordTypeName</assignToReference>
            <field>DeveloperName</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetPolicyRecord</name>
        <label>GetPolicyRecord</label>
        <locationX>1029</locationX>
        <locationY>120</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Insurer</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Next_Related_Item__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insurers</stringValue>
            </value>
        </filters>
        <object>InsurancePolicy</object>
        <outputAssignments>
            <assignToReference>InsurerNewRecordID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Status</targetReference>
        </connector>
        <object>Quote2__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>InvalidDraft</status>
    <variables>
        <name>FinalCreateNewInsurerRecord</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer__c</objectType>
    </variables>
    <variables>
        <name>InsurerFromQuote</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer__c</objectType>
    </variables>
    <variables>
        <name>InsurerLineItem</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer__c</objectType>
    </variables>
    <variables>
        <name>InsurerNewRecordID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListofInsurerRecordType</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>RecordType</objectType>
    </variables>
    <variables>
        <name>NewInsurer</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer__c</objectType>
    </variables>
    <variables>
        <name>NewInsurerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PolicyInsurerRecordTypeAssign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>PolicyRecordTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarPolicyRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarRecordTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
