force-app/main/default/flows/Refund_Process_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Refund_FirmPolicy</name>
        <label>Refund Process - Firm Policy Cancellation</label>
        <locationX>971</locationX>
        <locationY>81</locationY>
        <actionName>refundFromBrokerAccount</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>If_Success</targetReference>
        </connector>
        <faultConnector>
            <targetReference>If_Failed</targetReference>
        </faultConnector>
        <inputParameters>
            <name>policyIds</name>
            <value>
                <elementReference>firmPolicyforCancellation</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>50.0</apiVersion>
    <decisions>
        <name>If_Firm_Policy_Already_Cancelled</name>
        <label>If Firm Policy Already Cancelled</label>
        <locationX>669</locationX>
        <locationY>80</locationY>
        <defaultConnector>
            <targetReference>Refund_FirmPolicy</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Execute Apex</defaultConnectorLabel>
        <rules>
            <name>Policy_Already_Cancelled</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>firmPolicyforCancellation.Status</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Requested Cancellation</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>firmPolicyforCancellation.Cancellation_Amount__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>firmPolicyforCancellation.Cancellation_Amount__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cannot_Initiate_the_Cancellation</targetReference>
            </connector>
            <label>Status != Req Cancellation</label>
        </rules>
        <rules>
            <name>If_Master_Invoice_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>firmPolicyforCancellation.Master_Invoice__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancellation_Invoice_Not_Filled</targetReference>
            </connector>
            <label>If Master Invoice = Null</label>
        </rules>
    </decisions>
    <interviewLabel>Refund Process Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Refund Process Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Insurance_Policy</name>
        <label>Get Insurance Policy</label>
        <locationX>514</locationX>
        <locationY>83</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Firm_Policy_Already_Cancelled</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>firmPolicyforCancellation.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>InsurancePolicy</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Cancellation_Invoice_Not_Filled</name>
        <label>Master Invoice = Null</label>
        <locationX>501</locationX>
        <locationY>430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Message</name>
            <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;span style=&quot;color: rgb(224, 9, 9); font-size: 16px;&quot;&gt;The amount for refund will use Master Invoice Charge. Please specify Master Invoice on Policy.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Cannot_Initiate_the_Cancellation</name>
        <label>Cannot Initiate the Cancellation</label>
        <locationX>839</locationX>
        <locationY>428</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>StatusReqCancellation</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(224, 9, 9); font-size: 14px;&quot;&gt;﻿﻿&lt;/b&gt;&lt;b style=&quot;color: rgb(224, 9, 9); font-size: 20px;&quot;&gt;Failed to Process Refund. &lt;/b&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(224, 9, 9); font-size: 18px;&quot;&gt;Following could be the reason of Failure.&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ul&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(224, 9, 9);&quot;&gt;Only policies with status of &apos;&lt;/span&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(224, 9, 9);&quot;&gt;Requested Cancellation&lt;/b&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(224, 9, 9);&quot;&gt;&apos; can be refunded and cancelled.﻿&lt;/span&gt;&lt;/li&gt;&lt;li&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(224, 9, 9);&quot;&gt;Cancellation Amount must not be null and and must be greater then 0.&lt;/span&gt;&lt;/li&gt;&lt;/ul&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>If_Failed</name>
        <label>If Failed</label>
        <locationX>970</locationX>
        <locationY>431</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>If_Success</name>
        <label>If Success</label>
        <locationX>1223</locationX>
        <locationY>81</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>65</locationY>
        <connector>
            <targetReference>Get_Insurance_Policy</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>firmPolicyforCancellation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>InsurancePolicy</objectType>
    </variables>
</Flow>
