force-app/main/default/flows/Reinstatement_Of_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Final_Assignment_Reinstatement</name>
        <label>Final Assignment Reinstatement</label>
        <locationX>844</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>FinalCollectionReinstatement</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewReinstatement</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Reinstatement</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Reinstatement_Assignment</name>
        <label>Reinstatement Assignment</label>
        <locationX>925</locationX>
        <locationY>211</locationY>
        <assignmentItems>
            <assignToReference>NewReinstatement.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Reinstatement.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReinstatement.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Reinstatement_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReinstatement.Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReinstatement.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Reinstatement.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewReinstatement.Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Reinstatement.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Assignment_Reinstatement</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Next_Reinstatement_LI</name>
        <label>Next Reinstatement LI</label>
        <locationX>402</locationX>
        <locationY>69</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reinstatement_LI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Related_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Reinstatement</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reinstatement_Quote_Record</targetReference>
            </connector>
            <label>Reinstatement LI</label>
        </rules>
    </decisions>
    <decisions>
        <name>Reinstatement_Not_Null</name>
        <label>Reinstatement Not Null</label>
        <locationX>1005</locationX>
        <locationY>89</locationY>
        <defaultConnector>
            <targetReference>Next_LI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Update QLI</defaultConnectorLabel>
        <rules>
            <name>Reinstatement_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Reinstatement_Quote_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Reinstatement_RecordType</targetReference>
            </connector>
            <label>Reinstatement Null</label>
        </rules>
    </decisions>
    <interviewLabel>Reinstatement Of Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reinstatement Of Policy</label>
    <loops>
        <name>Loop_Reinstatement</name>
        <label>Loop Reinstatement</label>
        <locationX>664</locationX>
        <locationY>249</locationY>
        <collectionReference>Get_Reinstatement_Quote_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Reinstatement_Assignment</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Reinstatement_Record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Reinstatement_Record</name>
        <label>Create Reinstatement Record</label>
        <locationX>637</locationX>
        <locationY>444</locationY>
        <connector>
            <targetReference>Next_LI</targetReference>
        </connector>
        <inputReference>FinalCollectionReinstatement</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Reinstatement_Quote_Record</name>
        <label>Get Reinstatement Quote Record</label>
        <locationX>638</locationX>
        <locationY>65</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reinstatement_Not_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Reinstatement__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Reinstatement_RecordType</name>
        <label>Get Reinstatement RecordType</label>
        <locationX>436</locationX>
        <locationY>208</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Reinstatement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reinstatement_for_Policy</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Reinstatement__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Next_LI</name>
        <label>Next LI</label>
        <locationX>1052</locationX>
        <locationY>443</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Next_Related_Item__c</field>
            <value>
                <stringValue>Underlying Insurers</stringValue>
            </value>
        </inputAssignments>
        <object>InsurancePolicy</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Next_Reinstatement_LI</targetReference>
        </connector>
        <object>InsurancePolicy</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FinalCollectionReinstatement</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reinstatement__c</objectType>
    </variables>
    <variables>
        <name>NewReinstatement</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reinstatement__c</objectType>
    </variables>
    <variables>
        <name>ReinstatementCollectionVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Reinstatement__c</objectType>
    </variables>
</Flow>
