force-app/main/default/flows/Subscribe_Quote.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Assign_QPD_To_Collection</name>
        <label>Assign QPD To Collection</label>
        <locationX>952</locationX>
        <locationY>272</locationY>
        <assignmentItems>
            <assignToReference>AssignCollectionQPD</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VarNewQPD</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Quote_Product_Details</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Quote</name>
        <label>Assign Quote Product Details</label>
        <locationX>744</locationX>
        <locationY>476</locationY>
        <assignmentItems>
            <assignToReference>VarNewQPD.Layer_Limit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Product_Details.Policy_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewQPD.Coverage_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Product_Details.Coverage_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewQPD.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Product_Details.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewQPD.Quote__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_a_Quote_record</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewQPD.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetQPDRecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewQPD.Layer_Deductible_Amount__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Product_Details.Deductible_Amount__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarNewQPD.Layer_Sub_Limit_Days__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Product_Details.Sub_Limit__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>RecordTypeID</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>COCProjectProduct</name>
        <label>COCProjectProduct</label>
        <locationX>238</locationX>
        <locationY>362</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProductCOCProject</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Quote_Record.Product__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Course-of-Construction (Project)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Quote_record</targetReference>
            </connector>
            <label>ProductCOCProject</label>
        </rules>
    </decisions>
    <interviewLabel>Subscribe Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Subscribe Quote</label>
    <loops>
        <name>Quote_Product_Details</name>
        <label>Loop Quote Product Details</label>
        <locationX>699</locationX>
        <locationY>272</locationY>
        <collectionReference>Quote_Product_Detail</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Quote</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_QDP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_a_Quote_record</name>
        <label>Create a Quote record</label>
        <locationX>429</locationX>
        <locationY>59</locationY>
        <connector>
            <targetReference>Quote_Product_Detail</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Get_Quote_Record.Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Activation_Date__c</field>
            <value>
                <elementReference>Get_Quote_Record.Activation_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker__c</field>
            <value>
                <elementReference>Get_Quote_Record.Broker__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Brokerage_Account__c</field>
            <value>
                <elementReference>Get_Quote_Record.Brokerage_Account__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Category__c</field>
            <value>
                <elementReference>Get_Quote_Record.Category__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Commission__c</field>
            <value>
                <elementReference>Get_Quote_Record.Commission__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_Renewable__c</field>
            <value>
                <elementReference>Get_Quote_Record.Is_Renewable__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>Get_Quote_Record.Opportunity__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Policy_Premium__c</field>
            <value>
                <elementReference>Get_Quote_Record.Policy_Premium__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product__c</field>
            <value>
                <elementReference>Get_Quote_Record.Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Effective_Date__c</field>
            <value>
                <elementReference>Get_Quote_Record.Quote_Effective_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Expiry_Date__c</field>
            <value>
                <elementReference>Quote_Product_Details.Expiration_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quote_Term__c</field>
            <value>
                <elementReference>Get_Quote_Record.Quote_Term__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Quote_Record.RecordType.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Renewal_Date__c</field>
            <value>
                <elementReference>Get_Quote_Record.Renewal_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Draft</stringValue>
            </value>
        </inputAssignments>
        <object>Quote2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_QDP</name>
        <label>Create QDP</label>
        <locationX>519</locationX>
        <locationY>240</locationY>
        <inputReference>AssignCollectionQPD</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_Quote_Record</name>
        <label>Get Quote Record</label>
        <locationX>176</locationX>
        <locationY>219</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>COCProjectProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote2__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetQPDRecordType</name>
        <label>GetQPDRecordType</label>
        <locationX>675</locationX>
        <locationY>62</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Quote_Product_Details</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote_Product_Detail_Subscription</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Quote_Product_Details__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Quote_Product_Detail</name>
        <label>Get Quote Product Detail</label>
        <locationX>548</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQPDRecordType</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Quote_Product_Details__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>53</locationX>
        <locationY>396</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Error</name>
            <fieldText>&lt;p&gt;Product is not COC Project&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RecordTypeID</name>
        <label>RecordTypeID</label>
        <locationX>860</locationX>
        <locationY>380</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Assign_QPD_To_Collection</targetReference>
        </connector>
        <fields>
            <name>Id</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>VarNewQPD.RecordTypeId</elementReference>
            </defaultValue>
            <fieldText>Id</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Get_Quote_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignCollectionQPD</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Product_Details__c</objectType>
    </variables>
    <variables>
        <name>FinalQPDAssignment</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Product_Details__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarNewQPD</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote_Product_Details__c</objectType>
    </variables>
</Flow>
