force-app/main/default/flows/Test.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <assignments>
        <name>Assign_Conga_template_Ids_to_New_Var</name>
        <label>Assign Conga template Ids to New Var</label>
        <locationX>630</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>Iterate_on_PWD.Conga_Template__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Assign</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Record</targetReference>
        </connector>
    </assignments>
    <interviewLabel>Test {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Test</label>
    <loops>
        <name>Iterate_on_PWD</name>
        <label>Iterate on PWD</label>
        <locationX>323</locationX>
        <locationY>362</locationY>
        <collectionReference>Get_ALL_PWD_Conga_Template_IDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Conga_template_Ids_to_New_Var</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Conga_template_Ids_to_New_Var</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_ALL_PWD_Conga_Template_IDs</name>
        <label>Get ALL PWD Conga Template IDs</label>
        <locationX>180</locationX>
        <locationY>388</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_on_PWD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Policy_Wording_and_Endorsement_Codes__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Policy__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Policy_Wording_and_Endorsements__c</object>
        <sortField>Sorting_Order__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Record</name>
        <label>Update Record</label>
        <locationX>897</locationX>
        <locationY>311</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Policy__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Subjectivities__c</field>
            <value>
                <elementReference>Assign</elementReference>
            </value>
        </inputAssignments>
        <object>InsurancePolicy</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_ALL_PWD_Conga_Template_IDs</targetReference>
        </connector>
        <object>Policy_Wording_and_Endorsements__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
    <variables>
        <name>Assign</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AssignTemplateIDstoFlowVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
