force-app/main/default/flows/Underlying_Insurer_of_Policy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>AssignmentOfUI</name>
        <label>AssignmentOfUI</label>
        <locationX>940</locationX>
        <locationY>204</locationY>
        <assignmentItems>
            <assignToReference>NewUI.Insurer_Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUI.Insurer_Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUI.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUI.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUI.Insurer_Percentage__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUI.Insurer_Percentage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUI.Category__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUI.Category__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUI.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUI.CurrencyIsoCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUI.Limit_of_Liability__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUI.Limit_of_Liability__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUI.Authorized_Capacity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUI.Authorized_Capacity__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUI.Authorized_Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUI.Authorized_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUI.Policy__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUI.Minimum_Retained_Premium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUI.Minimum_Retained_Premium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUI.Policy_Term_Effective_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUI.Policy_Term_Effective_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUI.Policy_Term_Expiry_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUI.Policy_Term_Expiry_Date__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUI.Monthly_Rate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUI.Monthly_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUI.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_UI_RecordType.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>NewUI.Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopUI.Status__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>FinalAssignmentUI</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>FinalAssignmentUI</name>
        <label>FinalAssignmentUI</label>
        <locationX>808</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>FinalAssignmentCollectionUI</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>NewUI</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopUI</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_Collection_is_empty</name>
        <label>Check if Collection is empty</label>
        <locationX>473</locationX>
        <locationY>408</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>UI_is_empty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Underlying_Insurer_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_UI_RecordType</targetReference>
            </connector>
            <label>UI is empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>Next_Underlying_Insurer</name>
        <label>Next Underlying Insurer</label>
        <locationX>393</locationX>
        <locationY>283</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Next_LI_UI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Next_Related_Item__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Underlying Insurers</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Underlying_Insurer_Record</targetReference>
            </connector>
            <label>Next LI UI</label>
        </rules>
    </decisions>
    <interviewLabel>Underlying Insurer of Policy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Underlying Insurer of Policy</label>
    <loops>
        <name>LoopUI</name>
        <label>LoopUI</label>
        <locationX>674</locationX>
        <locationY>163</locationY>
        <collectionReference>Get_Underlying_Insurer_Record</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignmentOfUI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_UI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_UI</name>
        <label>Create UI</label>
        <locationX>599</locationX>
        <locationY>381</locationY>
        <inputReference>FinalAssignmentCollectionUI</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_UI_RecordType</name>
        <label>Get UI RecordType</label>
        <locationX>480</locationX>
        <locationY>151</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopUI</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Underlying_Insurer_of_Policy</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Insurer_Underlying_Insurer__c</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Underlying_Insurer_Record</name>
        <label>Get Underlying Insurer Record</label>
        <locationX>106</locationX>
        <locationY>348</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_Collection_is_empty</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Quote__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Insurer_Underlying_Insurer__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Next_Underlying_Insurer</targetReference>
        </connector>
        <object>InsurancePolicy</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>CollectionGetUI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer_Underlying_Insurer__c</objectType>
    </variables>
    <variables>
        <name>FinalAssignmentCollectionUI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer_Underlying_Insurer__c</objectType>
    </variables>
    <variables>
        <name>NewUI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Insurer_Underlying_Insurer__c</objectType>
    </variables>
</Flow>
